<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div id="volunteer" class="volunteer">
        <div class="v-list">
          <% @volunteers.each do |vol| %>
              <%= link_to "#{volunteers_path}/#{vol.id}", title: '查看' do %>
                  <div class="v-item" data-src="<%= image_path('homepage/v-item-bk.png') %>">
                    <div class="v-title"><%= vol.competition.name %></div>
                    <div class="v-circle">志愿者开始招募</div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <nav>
        <%= paginate @volunteers %>
      </nav>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
