<div id="main" class="main" data-src="<%= image_path('homepage/bk.jpg') %>">
  <div class="container">
    <div class="row">
      <div id="honor" class="honor">
        <div class="sec-t">
          <img src="" alt="" data-src="<%= image_path('homepage/honor-title.png') %>"/>
        </div>
        <div class="sec-c">
          <div class="tabs-t">
            <ul class="items">
              <li class="item active" data-src="<%= image_path('homepage/honor-tabs-active.png') %>">
                学生
              </li>
              <li class="item" data-src="<%= image_path('homepage/honor-tabs.png') %>">
                学校
              </li>
              <li class="item double" data-src="<%= image_path('homepage/honor-tabs.png') %>">
                指导老师
              </li>
            </ul>
          </div>
          <div class="tabs-c">
            <ul class="items">
              <li class="item">
                <div class="place-head">
                  <div class="place-first place-item"
                       data-src="<%= image_path('homepage/place-first.png') %>">
                    学生
                  </div>
                  <div class="place-second place-item"
                       data-src="<%= image_path('homepage/place-second.png') %>">
                    学生
                  </div>
                  <div class="place-third place-item"
                       data-src="<%= image_path('homepage/place-third.png') %>">
                    学生
                  </div>
                </div>
                <div class="place-separator"
                     data-src="<%= image_path('homepage/place-separator.png') %>"></div>
                <div class="place-body">
                  <p>4. 学生</p>

                  <p>5. 学生</p>

                  <p>6. 学生</p>

                  <p>7. 学生</p>

                  <p>8. 学生</p>

                  <p>9. 学生</p>

                  <p>10. 学生</p>
                </div>
              </li>
              <li class="item">
                <div class="">

                </div>
              </li>
              <li class="item">
                <div class="">

                </div>
              </li>
            </ul>
          </div>
          <div class="rule">
            <i class="glyphicon glyphicon-triangle-right"></i> 排名规则 <i
          class="glyphicon glyphicon-triangle-left"></i>

            <div class="rule-content" data-src="<%= image_path('homepage/rule.png') %>">
              <p>学生排名规则</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                sodales
                pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                sed
                rhoncus sapien nunc eget odio.</p>

              <p>学校排名规则</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar
                tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                rhoncus
                sapien nunc eget odio.</p>

              <p>指导老师排名规则</p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                laoreet.
                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                pulvinar
                tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
                rhoncus
                sapien nunc eget odio.</p>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
