<h1 class="page-header">
  <%= @event.name %>
  成绩排名 <%= "#{params[:group]}" if params[:group].present? %>  <%= "#{params[:schedule]}" if params[:schedule].present? %>
  <input type="hidden" class="event-id" value="<%= @event.id %>"/>
  <small class="pull-right">
    <% @event.group.split(',').each do |group| %>

        <% case group.to_i when 1 %>
            <% g = '小学组' %>
        <% when 2 %>
            <% g = '中学组' %>
        <% when 3 %>
            <% g = '初中组' %>
        <% when 4 %>
            <% g = '高中组' %>
        <% else %>
            <% g = '' %>
        <% end %>
        <a href="/admin/events/scores?id=<%= params[:id] %>&group=<%= g %>&schedule=<%= params[:schedule] %>" role="button" title="" class="btn <%= 'btn-info' if params[:group] == g %>" data-toggle="modal">
          <%= g %>
        </a>
    <% end %>
  </small>

  <input type="hidden" class="event-id" value="<%= @event.id %>">
</h1>
<small class="pull-right">
  <% if @group_schedule.present? %>
      <% @group_schedule.each do |g_s| %>
          <a href="/admin/events/scores?id=<%= params[:id] %>&group=<%= params[:group] %>&schedule=<%= g_s.name %>" class="btn <%= 'btn-info' if params[:schedule] == g_s.name %>"><%= g_s.name %></a>
      <% end %>
  <% end %>
</small>
<% unless @event.is_father %>
    <a href="<%= "#{teams_admin_events_path}?id=#{@event.id}" %>" role="button" title="队伍" class="btn btn-primary">
      <i class="icon-flag-alt icon-only"></i></a>
<% end %>
<a href="/admin/events/<%= @event.id %>" role="button" title="查看项目" class="btn btn-warning">
  <i class="icon-eye-open icon-only"></i></a>
<a href="/admin/events/scores?id=<%= params[:id] %>&schedule=<%= params[:schedule] %>&group=<%= params[:group] %>&sort=1" class="btn btn-danger">成绩排名</a>
<% if @event_sa.present? %>
    <% if @event_sa.formula.present? %>
        <label class="">
          <%= @event_sa.formula["compute_type"] == '1' ? '手动计算' : '自动计算' %>
          <% order = @event_sa.formula["order"] %>
          <%= order['1']['name'] %>-<%= order['1']['sort'] == 1 ? '升序;' : '降序;' %>
          <% if order['num'] >1 %>
              <%= "#{order['2']['name']}-#{order['2']['sort'] == 1 ? '升序;' : '降序;'}" %>
              <% if order['num'] == 3 %>
                  <%= "#{order['3']['name']}-#{order['3']['sort'] == 1 ? '升序;' : '降序;'}" %>
              <% end %>
          <% end %>
        </label>
    <% end %>
<% else %>
    公式不存在
<% end %>
<hr>


<div class="row">
  <div class="col-xs-12">
    <% if @scores.present? %>
        <nav>
          <%= paginate @scores %>
        </nav>
        <table class="table table-bordered table-hover table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>编号</th>
            <th>队长</th>
            <th>学校</th>
            <th>指导老师</th>
            <th>成绩属性</th>
            <th>最终成绩</th>
            <th>辅助排序</th>
            <th>排名</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <% @scores.each_with_index do |score, index| %>
              <tr>
                <td><%= score.id %></td>
                <td><%= score.identifier %></td>
                <td><%= score.username %></td>
                <td><%= score.school_name %></td>
                <td><%= score.teacher %></td>
                <% has_score_attribute = score.score_attribute %>
                <% score_attribute = has_score_attribute.force_encoding('utf-8') if has_score_attribute %>
                <td class="<%= 'score-attribute-td' if has_score_attribute %>" data-title="<%= score_attribute if has_score_attribute %>"><%= score_attribute[1..20] if has_score_attribute %></td>
                <td><%= score.score %></td>
                <td><%= score.order_score %></td>
                <td><%= score.schedule_rank %></td>
                <td>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>


    <% else %>
        <div class="alert alert-info">该组别的赛程无队伍参加比赛</div>
    <% end %>


  </div>
</div>

