<h1 class="page-header">
  <%= @event.name %> 成绩排名 <%= "#{params[:group]}" if params[:group].present? %>
  <input type="hidden" class="event-id" value="<%= @event.id %>"/>
  <small class="pull-right">
    <% @event.group.split(',').each do |group| %>

        <% case group.to_i when 1 %>
            <% g = '小学组' %>
        <% when 2 %>
            <% g = '中学组' %>
        <% when 3 %>
            <% g = '初中组' %>
        <% when 4 %>
            <% g = '高中组' %>
        <% else %>
            <% g = '' %>
        <% end %>
        <a href="/admin/events/scores?id=<%= params[:id] %>&group=<%= g %>" role="button" title="" class="btn <%= 'btn-primary' if params[:group] == g %>" data-toggle="modal">
          <%= g %>
        </a>
    <% end %>
  </small>

  <input type="hidden" class="event-id" value="<%= @event.id %>">
</h1>
<a href="/admin/events/scores?id=<%= params[:id] %>&group=<%= params[:group] %>&sort=1" class="btn btn-danger">成绩排名</a>
<hr>


<div class="row">
  <div class="col-xs-12">
    <% if @scores.present? %>
        <table class="table table-bordered table-hover table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>编号</th>
            <th>队长</th>
            <th>学校</th>
            <th>指导老师</th>
            <th>成绩属性</th>
            <th>最终成绩</th>
            <th>辅助排序</th>
            <th>排名</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <% @scores.each_with_index do |score, index| %>
              <tr>
                <td><%= score.id %></td>
                <td><%= score.identifier %></td>
                <td><%= score.username %></td>
                <td><%= score.school_name %></td>
                <td><%= score.teacher %></td>
                <% score_attribute = (score.score_attribute).force_encoding 'utf-8' if score.score_attribute %>
                <td title="<%= score_attribute if score.score_attribute %>"><%= score_attribute[1..20] if score.score_attribute %></td>
                <td><%= score.score %></td>
                <td><%= score.order_score %></td>
                <td><%= score.rank %></td>
                <td>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>


    <% else %>
        <div class="alert alert-info">暂无队伍有成绩</div>
    <% end %>


  </div>
</div>

