<h1 class="page-header">
  显示<%= t('activerecord.models.event') %>
  <small class="pull-right">
    <a href="<%= new_admin_event_path %>" title="添加项目" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="<%= edit_admin_event_path(@event) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_events_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>
<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= t('activerecord.models.event') %>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.name') %>:</h4>

      <%= @event.name %>
    </li>
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.competition_id') %>:</h4>

      <%= @event.competition.name %>
    </li>
    <% if @event.parent_id.present? %>
        <li class="list-group-item">
          <h4>所属组别:</h4>

          <%= @event.parent_event.name %>
        </li>
    <% end %>
    <li class="list-group-item">
      <h4>包含组别:</h4>
      <% groups = @event.group.try(:split, ',')
         groups.each do |name| %>
          <label>
            <%= t('group.group'+name.to_s) %>
          </label>
      <% end %>
    </li>

    <li class="list-group-item">
      <h4>每队人数:</h4>

      <%= @event.team_min_num %><%= " - #{@event.team_max_num}" if @event.team_max_num != @event.team_min_num %>
    </li>
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.description') %>:</h4>

      <%= @event.description %>
    </li>
    <li class="list-group-item">
      <h4>封面:</h4>
      <% if @event.cover.present? %>
          <%= image_tag(@event.cover_url(:middle)) %>
      <% end %>
    </li>
    <li class="list-group-item">
      <h4>状态:</h4>

      <%= t('status.status'+@event.status.to_s) %>
    </li>
  </ul>
  <input type="hidden" value="<%= @event.id %>" name="event-identifier">
</div>


<% unless @event.is_father %>
    <div class="panel panel-info">
      <div class="panel-heading">
        成绩属性
        <button class="open-add-score-attribute btn btn-xs btn-primary pull-right">显示属性</button>
      </div>


      <div class="add-score-attribute panel-body">
        <div class="form-group">
          <div class="selected-info">
          </div>
          <div class="clearfix"></div>
          <div id="score-attribute">
            <label style="margin:0 5px;font-size: 22px" id="select-all-score-attribute"><input type="checkbox" name="select_all" class="select-all-score-attribute" autocomplete="off">
              <b>全选</b></label>
            <button class="select-tl-sa btn btn-xs btn-success hidden">添加其子属性</button>
            <button class="add-all-score-attribute btn btn-xs btn-primary hidden">添加所选属性</button>
          </div>

          <div id="two-level-sa" class="hidden">
            <label id="select-all-tl-sa"><input type="checkbox" name="select_all" class="select-all-tl-sa" autocomplete="off">
              <b>全选</b></label>
            <button class="add-selected-sa btn btn-xs btn-primary hidden">添加所选属性</button>
          </div>
        </div>
      </div>

    </div>

    <div>
      <% if @score_attributes.present? %>
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <!-- PAGE CONTENT BEGINS -->

              <div class="row">

                <div class="col-sm-8">
                  <span id="update-event-score-sort" class="btn btn-xs btn-primary">更新排序</span>
                  <div class="dd dd-draghandle">
                    <ol class="dd-list">
                      <% @score_attributes.each_with_index do |sa, index| %>
                          <li class="dd-item dd2-item <%= "hide-tr#{sa[:id]}" %>" data-id="<%= sa[:id] %>">
                            <div class="dd-handle dd2-handle">
                              <i class="normal-icon  blue bigger-130"><%= sa[:id] %></i>

                              <i class="drag-icon icon-move bigger-125"></i>
                            </div>
                            <div class="dd2-content"><%= sa[:name]+' -- '+t('write_type.write_type'+sa[:write_type].to_s) %>
                              <%= "-- #{t('value_type.value_type'+sa[:desc])}" if sa[:desc].present? %>
                              <% if sa[:formula].present? %>
                                  <% str = '' %>
                                  <% sa[:formula]["formula"].to_a.each do |f| %>
                                      <% formula_symbol = f[1]["symbol"].gsub(/[1-4]/, '1' => '+', '2' => '-', '3' => 'x', '4' => '/') %>
                                      <% if f[0]=='0' %>
                                          <% str += "#{formula_symbol} #{(f[1]["molecule"]==f[1]["denominator"]) ? "1" : ((Float(f[1]["molecule"].to_i)/f[1]["denominator"].to_i).round(2))} " %>
                                      <% else %>
                                          <% str += "#{formula_symbol} #{"(#{f[1]["molecule"]}/#{f[1]["denominator"]})" if f[1]["molecule"] != f[1]["denominator"]}#{f[1]["name"]} " %>
                                      <% end %>
                                  <% end %>
                                  <span>轮数:<%= sa[:formula]["rounds"] %>,</span>
                                  <span title="<%= str[1..-1] %>"><%= str[1..30] %></span>
                              <% end %>

                              <div class="pull-right action-buttons">
                                <% if sa[:name].include?('最终成绩') %>

                                    <a class="blue" href="<%= "#edit-formula-#{sa[:id]}" %>" data-toggle="modal">
                                      <span title="编辑公式"><i class="icon-pencil bigger-130"></i></span>
                                    </a>
                                    <div id="<%= "edit-formula-#{sa[:id]}" %>" class="modal edit-event-formula" tabindex="-1">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <div class="widget-header model-header">
                                            <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
                                            <h4 class="text-center"><%= @event.name %>--最终成绩计算过程</h4>
                                          </div>

                                          <div class="modal-body overflow-visible">
                                            <div class="row">
                                              <div class="col-xs-offset-1">
                                                <% score_attrs = @score_attributes.map { |x| [x[:id], x[:name]] } %>
                                                <% score_attrs.delete_at(index) %>
                                                选择属性添加公式&nbsp;
                                                <select id="event-formula-select">
                                                  <option value="0">常量</option>
                                                  <% score_attrs.each do |s| %>
                                                      <option value="<%= s[0] %>"><%= s[1] %></option>
                                                  <% end %>
                                                </select>
                                              </div>

                                            </div>
                                            <br>

                                            <div class="row">
                                              <div class="col-xs-offset-1">
                                                <form id="event-formula-form">
                                                  <div class="event-formula-input">
                                                    <input type="hidden" name="sa_id" value="<%= sa[:id] %>">
                                                    轮数:
                                                    <select id="formula-rounds" style="width: 100px" name="rounds">
                                                      <option value="">请选择轮数</option>
                                                      <% [1, 2, 3].each do |round| %>
                                                          <option value="<%= round %>" <%= "selected" if (sa[:formula] && sa[:formula]["rounds"].to_i == round) %> ><%= round %></option>
                                                      <% end %>
                                                    </select>&nbsp;&nbsp;
                                                    成绩排序:
                                                    <select multiple="" name="order[]" id="selected-orders" class="chosen-select tag-input-style" data-placeholder="请选择排序...">
                                                      <option value="0++0++最终成绩" <%= "selected" if (sa[:formula].present? && "#{sa[:formula]["order"]["0"]}".present? && "#{sa[:formula]["order"]["0"]["sort"]}"=='0') %> >最终成绩-降序</option>
                                                      <option value="0++1++最终成绩" <%= "selected" if (sa[:formula].present? && "#{sa[:formula]["order"]["0"]}".present? && "#{sa[:formula]["order"]["0"]["sort"]}"=='1') %> >最终成绩-升序</option>
                                                      <% score_attrs.each do |s| %>
                                                          <option value="<%= s[0] %>++0++<%= s[1] %>" <%= "selected" if (sa[:formula].present? && "#{sa[:formula]["order"]["#{s[0]}"]}".present? && "#{sa[:formula]["order"]["#{s[0]}"]["sort"]}"=='0') %>><%= s[1] %>
                                                            -降序
                                                          </option>
                                                          <option value="<%= s[0] %>++1++<%= s[1] %>" <%= "selected" if (sa[:formula].present? && "#{sa[:formula]["order"]["#{s[0]}"]}".present? && "#{sa[:formula]["order"]["#{s[0]}"]["sort"]}"=='1') %>><%= s[1] %>
                                                            -升序
                                                          </option>
                                                      <% end %>
                                                    </select>&nbsp;降序 (值越大名次越高) , 升序反之
                                                    <br><br>

                                                    最终成绩属性(公式未触发):&nbsp;
                                                    <select id="last-score-by" name="last-score-by[id]">
                                                      <option value="0">无(公式计算)</option>
                                                      <% score_attrs.each do |s| %>
                                                          <option value="<%= s[0] %>"><%= s[1] %></option>
                                                      <% end %>
                                                    </select>
                                                    <input type="hidden" id="last-score-name" name="last-score-by[name]"/>

                                                    &nbsp;触发公式的属性:&nbsp;
                                                    <select id="trigger-attr-id" name="trigger-attr[id]">
                                                      <option value="">请选择触发属性</option>
                                                      <% score_attrs.each do |s| %>
                                                          <option value="<%= s[0] %>"><%= s[1] %></option>
                                                      <% end %>
                                                    </select>
                                                    <input type="hidden" id="trigger-attr-name" name="trigger-attr[name]"/>

                                                    &nbsp;属性值:&nbsp;
                                                    <select id="trigger-attr-val" name="trigger-attr[val]" style="width:120px">
                                                      <option value="">请选择属性值</option>
                                                      <option value="1">是</option>
                                                      <option value="0">否</option>
                                                    </select>
                                                    <br><br>

                                                    <% if sa[:formula].present? %>
                                                        <% sa[:formula]["formula"].to_a.each do |formula| %>
                                                            <% sa_id = formula[0] %>
                                                            <% symbol = formula[1]["symbol"] %>
                                                            <p id="formula-<%= sa_id %>">
                                                              <select id="symbol-<%= sa_id %>" name="formula[<%= sa_id %>][symbol]">
                                                                <option value="">请选择符号</option>
                                                                <option value="1" <%= "selected" if symbol == '1' %>>加</option>
                                                                <option value="2" <%= "selected" if symbol == '2' %>>减</option>
                                                                <option value="3" <%= "selected" if symbol == '3' %>>乘</option>
                                                                <option value="4" <%= "selected" if symbol == '4' %>>除</option>
                                                              </select>&nbsp;&nbsp;
                                                              <input style="width:90px" id="molecule-<%= sa_id %>" type="text" value="<%= formula[1]["molecule"] %>" placeholder="分子(正整数)" name="formula[<%= sa_id %>][molecule]"/>&nbsp;&nbsp;
                                                              <input style="width:90px" id="denominator-<%= sa_id %>" type="text" value="<%= formula[1]["denominator"] %>" placeholder="分母(正整数)" name="formula[<%= sa_id %>][denominator]"/>
                                                              <input type="hidden" name="formula[<%= sa_id %>][name]" value="<%= formula[1]["name"] %>"/>
                                                              <%= formula[1]["name"] %>
                                                              <button title="取消该项" class="btn btn-xs btn-info" style="line-height: 10px" onclick="cancel_formula_element(<%= sa_id %>)">x</button>
                                                            </p>
                                                        <% end %>
                                                    <% end %>
                                                  </div>
                                                </form>
                                              </div>
                                            </div>

                                          </div>
                                          <div class="modal-footer">
                                            <button class="btn btn-sm" data-dismiss="modal">
                                              <i class="icon-remove"></i>
                                              取消
                                            </button>

                                            <button class="btn btn-sm btn-primary update-event-formula-submit" data-id="<%= sa[:id] %>">
                                              <i class="icon-ok"></i>
                                              提交
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                <% end %>
                                <a class="red">
                                  <span class="delete-event-sa" data-id="<%= sa[:id] %>" title="删除"><i class="icon-trash bigger-130"></i></span>
                                </a>
                              </div>
                            </div>
                          </li>
                      <% end %>
                      <input type="hidden" id="event-id" value="<%= @event.id %>">
                    </ol>
                  </div>
                </div>
              </div><!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
          </div><!-- /.row -->
      <% end %>
    </div>

    <div>
      <% unless @score_attributes.present? %>
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% @score_attributes.each do |sa| %>
                <tr class="<%= "hide-tr#{sa[:id]}" %>">
                  <td><%= sa[:id] %></td>
                  <td><%= sa[:name]+' -- '+t('write_type.write_type'+sa[:write_type].to_s) %></td>
                  <td id="<%= "sa-desc#{sa[:id]}" %>"><%= sa[:desc] %></td>
                  <td>
                    <span class="btn btn-xs btn-warning edit-event-sa-desc" data-id="<%= sa[:id] %>" data-text="<%= sa[:name] %>" title="添加描述"><i class="glyphicon glyphicon-edit"></i></span>
                    <span class="btn btn-xs btn-danger delete-event-sa" data-id="<%= sa[:id] %>" title="删除"><i class="glyphicon glyphicon-trash"></i></span>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
<% end %>