<h1 class="page-header">
  <%= @event.name %>
  <small class="pull-right">
    <a href="#add-team-form" role="button" title="添加队伍" class="open-add-team btn btn-default" data-toggle="modal">
      <i class="icon-plus icon-only"></i></a>
    <a class="btn btn-default btn-search-toggle" title="搜索">
      <i class="icon-search icon-only"></i>
    </a>
    <a href="/admin/events/<%= @event.id %>" role="button" title="查看项目" class="btn btn-default">
      <i class="icon-eye-open icon-only"></i></a>
    <% first_group = @event.group.split(',')[0] %>
    <% case first_group.to_i when 1 %>
        <% first_group = '小学组' %>
    <% when 2 %>
        <% first_group = '中学组' %>
    <% when 3 %>
        <% first_group = '初中组' %>
    <% when 4 %>
        <% first_group = '高中组' %>
    <% else %>
        <% first_group = '中学组' %>
    <% end %>
    <% unless @event.is_father %>
        <a href="<%= "#{scores_admin_events_path}?id=#{@event.id}&group=#{first_group}&schedule=决赛" %>" role="button" title="成绩" class="btn btn-default">
          <i class="icon-list-ol icon-only"></i></a>
    <% end %>
  </small>
  <input type="hidden" class="event-id" value="<%= @event.id %>">
  <div class="col-xs-12 col-sm-2 form-group pull-right" style="margin-top: 6px">
    <select id="select-team-status" class="form-control">
      <option value="">
        &nbsp;全部
      </option>
      <option <%= 'selected' if params[:status] == '组队中' %> value="组队中">
        组队中
      </option>
      <option <%= 'selected' if params[:status] == '报名成功' %> value="报名成功">
        报名成功
      </option>
      <option <%= 'selected' if params[:status] == '待学校审核' %> value="待学校审核">
        待学校审核
      </option>
      <option <%= 'selected' if params[:status] == '待区县审核' %> value="待区县审核">
        待区县审核
      </option>
      <option <%= 'selected' if params[:status] == '学校拒绝' %> value="学校拒绝">
        学校拒绝
      </option>
      <option <%= 'selected' if params[:status] == '区县拒绝' %> value="区县拒绝">
        区县拒绝
      </option>
    </select>
  </div>
</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'hide' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text class="admin-search-field">编号</span>
              <span class="caret"></span></button>
            <ul class="dropdown-width dropdown-menu">
              <li data-search-option="identifier"><a>编号</a></li>
              <li data-search-option="group"><a>组别</a></li>
              <li data-search-option="id"><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'identifier' %>"/>
          <input type="hidden" name="id" value="<%= params[:id].present? ? params[:id] : 21 %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
        </div>
      </form>
    </div>
  </div>
</div>



<input type="hidden" id="team-players-max" value="<%= @event.team_max_num %>">
<div class="row">
  <div class="col-xs-12">
    <% if @teams.present? %>
        <div class="row">
          <% @teams.each do |team| %>
              <div class="col-xs-12 col-sm-6 col-md-4" id="<%= "hide-team-#{team.id}" %>">

                <div class="widget-box">
                  <div class="widget-header widget-header-small">
                    <h4 class="">
                      <i class="icon-flag-alt orange"></i>
                      <span class="badge" id="<%= team.id %>" style="font-size: 15px;padding: 3px 6px 3px 6px"><%= team.players %></span>
                      <%= team.try(:identifier) %>
                      <% case team.status when 0 %>
                          队长未提交
                      <% when 1 %>
                          报名成功
                      <% when 2 %>
                          待学校审核
                      <% when 3 %>
                          待区县审核
                      <% when -2 %>
                          学校审核未通过
                      <% when -3 %>
                          区县审核未通过
                      <% else %>
                          未知
                      <% end %>
                    </h4>

                    <div class="widget-toolbar action-buttons">
                      <% if @event.team_max_num > team.players %>
                          <a href="#add-team-player" role="button" class="open-add-player" data-id="<%= team.id %>" data-user-id="<%= team.user_id %>" data-name="<%= team.try(:identifier) %>" data-toggle="modal">
                            <i class="icon-plus" title="添加队员"></i>
                          </a>
                      <% else %>
                          <span class="hidden" id="after-delete-player-show">
                            <a href="#add-team-player" role="button" class="open-add-player" data-id="<%= team.id %>" data-user-id="<%= team.user_id %>" data-name="<%= team.try(:identifier) %>" data-toggle="modal">
                              <i class="icon-plus" title="添加队员"></i>
                            </a>
                          </span>
                      <% end %>
                      &nbsp;
                      <a class="pink admin-delete-team" style="cursor: pointer" data-id="<%= team.id %>" data-name="<%= team.name %>">
                        <i class="icon-trash" title="删除队伍"></i>
                      </a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="widget-main padding-8">
                      <div class="event-team profile-feed">
                        <% team.team_user_ships.each do |te| %>
                            <div class="profile-activity clearfix" id="<%= "hide-player-#{te.user_id}" %>">
                              <div>
                                <%= te.user.user_profile.try(:username) %> - <%= te.user.nickname[0..10] %>
                              </div>

                              <% if te.user_id == team.user_id %>
                                  <div class="tools action-buttons">
                                    队长
                                    <a href="#update-team-player" role="button" data-toggle="modal" class="blue update-team-player" style="cursor: pointer" title="换人" data-id="<%= team.id %>" data-user-id="<%= te.user_id %>" data-text="<%= te.user.user_profile.try(:username) %>" data-name="<%= team.try(:identifier) %>">
                                      <i class="icon-pencil bigger-125"></i>
                                    </a>
                                  </div>
                              <% else %>
                                  <div class="tools action-buttons">
                                    <a href="#update-team-player" role="button" data-toggle="modal" class="blue update-team-player" style="cursor: pointer" title="换人" data-id="<%= team.id %>" data-user-id="<%= te.user_id %>" data-text="<%= te.user.user_profile.try(:username) %>" data-name="<%= team.try(:identifier) %>">
                                      <i class="icon-pencil bigger-125"></i>
                                    </a>
                                    <a class="red delete-team-player" title="删除队员" style="cursor: pointer" data-id="<%= team.id %>" data-text="<%= te.user.user_profile.try(:username) %>" data-name="<%= te.user_id %>">
                                      <i class="icon-remove bigger-125"></i>
                                    </a>
                                  </div>
                              <% end %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          <% end %>
        </div>
        <nav>
          <%= paginate @teams %>
        </nav>
    <% end %>

  </div>
</div>

<input type="hidden" id="add-player-team-id" value=""/>
<input type="hidden" id="player-old-user-id" value=""/>
<div id="add-team-player" class="modal" tabindex="-1">
  <div class="modal-dialog" style="width: 360px">
    <div class="modal-content">
      <div class="widget-header model-header" style="height: 30px;background-color: #f7f7f7">
        <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
        <h4 class="blue smaller">请为 <strong><span class="team-name"></span></strong> 选择队员</h4>
      </div>

      <div class="modal-body overflow-visible">
        <div class="row">

          <div class="col-xs-12 ">
            <div class="form-group">

              <div>
                <label for="select-team-player">此列表为未报名此项目的用户</label>

                <br/>
                <select class="width-80 chosen-select" id="select-team-player" data-placeholder="选择一名队员...">
                  <option value="">请选择一名队员</option>
                  <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= "#{user.user_profile.try(:username)} - #{user.nickname}" %></option>
                  <% end %>

                </select>
              </div>
            </div>

            <div class="space-4"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          取消
        </button>

        <button class="btn btn-sm btn-primary add-player-submit">
          <i class="icon-ok"></i>
          提交
        </button>
      </div>
    </div>
  </div>
</div>

<div id="update-team-player" class="modal" tabindex="-1">
  <div class="modal-dialog" style="width: 360px">
    <div class="modal-content">
      <div class="widget-header model-header" style="height: 30px;background-color: #f7f7f7">
        <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
        <h4 class="blue smaller">请为 <strong><span class="team-name"></span></strong> 更换队员</h4>
      </div>

      <div class="modal-body overflow-visible">
        <div class="row">

          <div class="col-xs-12 ">
            <div class="form-group">

              <div>
                <label for="select-team-player">此列表为未报名此项目的用户</label>

                <br/>
                <select class="width-80 chosen-select" id="select-update-team-player" data-placeholder="选择一名队员...">
                  <option value="">请选择一名队员</option>
                  <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= "#{user.user_profile.try(:username)} - #{user.nickname}" %></option>
                  <% end %>

                </select>
              </div>
            </div>

            <div class="space-4"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          取消
        </button>

        <button class="btn btn-sm btn-primary update-team-player-submit">
          <i class="icon-ok"></i>
          提交
        </button>
      </div>
    </div>
  </div>
</div>

<div id="add-team-form" class="modal" tabindex="-1">
  <div class="modal-dialog" style="">
    <div class="modal-content">
      <div class="widget-header model-header" style="height: 30px;background-color: #f7f7f7">
        <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
        <h4 class="blue smaller">创建队伍</h4>
      </div>

      <div class="modal-body overflow-visible">
        <div class="row team-info">

          <div class="col-xs-12 col-md-10 col-sm-4">

            <p><input type="text" placeholder='请输入指导教师' class="form-control team-info-input" name="team-teacher"></p>
            <div>
              <select id="select-team-group" data-placeholder="请选择组别" style="width:470px">
                <option value="">请选择组别</option>
                <% @event.group.split(',').each do |group| %>
                    <option value="<%= group %>">
                      <% case group.to_i when 1 %>
                          小学
                      <% when 2 %>
                          中学
                      <% when 3 %>
                          初中
                      <% when 4 %>
                          高中
                      <% else %>
                      <% end %>
                    </option>
                <% end %>

              </select>
              <br><br>
            </div>

            <div class="form-group">
              <div>
                <select class="width-25 chosen-select" id="select-create-team-leader" data-placeholder="请选择队长">
                  <option value=""></option>
                  <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= "#{user.user_profile.try(:username)} - #{user.nickname}" %></option>
                  <% end %>
                </select>
              </div>
            </div>


            <div class="space-4"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          取消
        </button>

        <button class="btn btn-sm btn-primary create-team-submit" type="submit">
          <i class="icon-ok"></i>
          提交
        </button>
      </div>
    </div>
  </div>
</div>
