<!DOCTYPE html>
<html>
<head lang="en">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <!--<title></title>-->
</head>
<body>

<h2 style="color: #383838; font-size: 20px;text-align: center; font-weight: normal; margin: 20px auto; word-break: normal">
  <%= @leader %>
</h2>

<h2 style="color: #808080;text-align: center; display: inline; font-size: 20px; font-weight: normal; margin: 0; word-break: normal">
  邀请您参加
  <q class="organization-name" style="display: inline"><%= @event %></q>,队伍名称为:
  <q class="organization-name" style="display: inline"><%= @team_name %></q>
</h2>


<p>
  <a class="btn" style="-moz-transition: all 218ms; -o-transition: all 218ms; -webkit-transition: all 218ms; background: #03A9F4; border-radius: 2px; color: white; display: block; font-size: 20px; height: 54px; line-height: 54px; margin: 30px auto; text-decoration: none; transition: all 218ms; width: 200px; color: white!important; border: 0!important;" href="http://localhost:3000/competitions/invite?code=<%= @code %>&email=<%= @email %>&t=<%= @t %>" target="_blank">加入队伍</a>
</p>


<p class="hint center" style="color: #A6A6A6; display: block; font-weight: normal; line-height: 24px; margin: 0 auto; max-width: 600px; word-break: normal">
  如果按钮无法点击，请直接访问以下链接：
  <br>
  <a style="-moz-transition: all 218ms; -o-transition: all 218ms; -webkit-transition: all 218ms; color: #03A9F4; text-decoration: underline; transition: all 218ms" href="http://localhost:3000/competitions/invite?code=<%= @code %>&email=<%= @email %>&t=<%= @t %>" target="_blank">
    http://localhost:3000/competitions/invite?code=<%= @code %>&email=<%= @email %>&t=<%= @t %></a>
  此链接自发送之时起两天后过期
</p>

</body>
</html>