<div id="main" class="main" data-src="<%= image_path('homepage/bk.png') %>">
  <div class="container">
    <div class="row">
      <div id="download">
        <div class="download" data-src="<%= image_path('homepage/download-bk.png') %>">
          <div class="title">
            下载
          </div>
          <div class="download-inner">
            <div class="select-front">
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="sec-c">
                  比赛年份
                  <select name="year" id="">
                    <option value="">2016</option>
                  </select>
                </div>
              </div>
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  <i class="glyphicon glyphicon-th-large"></i>
                </div>
                <div class="sec-c">
                  比赛项目
                  <select name="" id="">
                    <option value="">比赛项目</option>
                  </select>
                </div>
              </div>
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  <i class="glyphicon glyphicon-download-alt"></i>
                </div>
                <div class="sec-c">
                  下载项目
                  <select name="" id="">
                    <option value="">报名表</option>
                    <option value="">成绩表</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="select-end">
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  <i class="glyphicon glyphicon-globe"></i>
                </div>
                <div class="sec-c">
                  区县
                  <select name="" id="">
                    <option value="">黄浦区</option>
                    <option value="">普陀区</option>
                    <option value="">长宁区</option>
                    <option value="">宝山区</option>
                  </select>
                </div>
              </div>
              <div class="download-item" data-src="<%= image_path('homepage/download-item-bk.png') %>">
                <div class="sec-t">
                  <i class="glyphicon glyphicon-home"></i>
                </div>
                <div class="sec-c">
                  学校
                  <select name="" id="">
                    <option value="">学校1</option>
                    <option value="">学校2</option>
                    <option value="">学校3</option>
                    <option value="">学校4</option>
                    <option value="">学校5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <button class="btn-robodou btn-download">下载</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
