<style type="text/css">
    textarea, input[type="text"] {
        padding: 0 4px;
    }
</style>
<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.news') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @new]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :name, maxlength: '100' %>
          <label class="control-label">类型</label>

          <div class="well">
            <%
               types = @new.news_type.try(:split, ',')
               NewsType.all.each do |nt|
            %>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="news[news_type][]" value="<%= nt.id %>" <%= types.try(:include?, nt.id.to_s) ? 'checked' : '' %>> <%= nt.name %>
                  </label>
                </div>
            <%
               end
            %>
          </div>
          <% if @new.cover.present? %>
              <div class="form-group">
                <%= image_tag(@new.cover_url(:middle), class: 'img-thumbnail') %>
              </div>
          <% end %>
          <%= f.input :desc %>
          <div class="form-group">
            <label for="exampleInputFile">封面</label>
            <%= f.file_field :cover %>
            <%= f.hidden_field :cover_cache %>
            <p class="help-block">格式：jpg jpeg gif png</p>
          </div>

          <label class="select required control-label" for="news_content"><abbr title="必填字段">*</abbr>内容:</label>
          <%= f.kindeditor :content, :window_onload => true, :owner_id => @new.id, :items => ['formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'insertfile', 'baidumap', 'link', 'unlink', 'quickformat', 'preview', 'fullscreen'] %>
          <%= f.hidden_field :admin_id, :value => @current_admin.id %>
        </div>

        <div class="form-actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>
