<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div class="event" id="event">
        <div class="sec-t" data-src="<%= image_path('homepage/match-info-t-bk.png') %>">
          <%= @competition.name %>报名
        </div>
        <div class="sec-c">
          <div id="currentUser" data-userId="<%= current_user.id %>" data-userName="<%= current_user.nickname %>"></div>
          <!--选择项目-->
          <div class="event-panel">
            <div class="title">项目名称</div>
            <div class="event-select" data-src="<%= image_path('homepage/select-bk.png') %>">
              <select id="event-select" data-select-target="now-event">
                <option value="0">请选择项目</option>
                <% @events.each do |e| %>
                    <option class="event-option" data-max-num="<%= e.team_max_num %>" data-name="<%= e.name %>" data-val="<%= e.id %>" value="<%= e.id %>"><%= e.name %></option>
                <% end %>
              </select>
              <input id="now-event" type="hidden" name="now-event"/>
            </div>
          </div>

          <!--单人项目组-->
          <div class="single-event">

            <!--个人信息确认-->
            <div class="single-confirm apply-part">
              <form id="single-confirm-form">
                <div class="confirm-t" data-src="<%= image_path('homepage/info-t-bk.png') %>">
                  报名信息
                </div>
                <div class="confirm-c">
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-user"></i>
                      姓&nbsp;&nbsp;&nbsp;&nbsp;名
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="username" value="<%= current_user.username %>"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学籍号
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="student_code" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      性&nbsp;&nbsp;&nbsp;&nbsp;别
                    </div>
                    <div class="input-c">
                      <label class="radio-b"><input type="radio" name="gender" value="1"/>男</label>
                      <label class="radio-b"><input type="radio" name="gender" value="2"/>女</label>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-calendar"></i>
                      生&nbsp;&nbsp;&nbsp;&nbsp;日
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="date" name="birthday"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      所属组别
                    </div>
                    <div class="input-c">
                      <select data-select-target="group" class="group-choice">
                        <option value="0">选择组别</option>
                        <option value="1">小学</option>
                        <option value="2">初中</option>
                        <option value="3">高中</option>
                      </select>
                      <input type="hidden" name="group"/>
                    </div>
                  </div>
                  <div class="input-row hide idc-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-credit-card"></i>
                      身份证
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="identity_card"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      区&nbsp;&nbsp;&nbsp;&nbsp;县
                    </div>
                    <div class="input-c">
                      <select data-select-target="district">
                        <option value="0">选择区县</option>
                        <% District.all.each do |d| %>
                            <option value="<%= d.id %>"><%= d.name %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="district"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学&nbsp;&nbsp;&nbsp;&nbsp;校
                    </div>
                    <div class="input-c school-target">
                      <a class="open-school">
                        <i class="glyphicon glyphicon-plus"></i>
                        选择学校
                      </a>
                      <br/>
                      <a class="add-other-school">没有你的学校？点击添加</a>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      年&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="grade">
                        <option value="0">请选择年级</option>
                        <option value="一">一</option>
                        <option value="二">二</option>
                        <option value="三">三</option>
                        <option value="四">四</option>
                        <option value="五">五</option>
                        <option value="六">六</option>
                        <option value="七">七</option>
                        <option value="八">八</option>
                        <option value="九">九</option>
                        <option value="高一">高一</option>
                        <option value="高二">高二</option>
                        <option value="高三">高三</option>
                      </select>
                      <input type="hidden" name="grade" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      班&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="bj">
                        <option value="0">请选择班级</option>
                        <% for n in 1..100 %>
                            <option value="<%= n %>"><%= n %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="bj" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-flag"></i>
                      指导老师
                    </div>
                    <div class="input-c">

                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-plus"></i>
                      姓名
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="team_teacher" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-plus"></i>
                      电话
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="teacher_mobile" value=""/>
                    </div>
                  </div>
                </div>
                <div class="confirm-b">
                  <button type="submit" class="apply-submit">确认报名</button>
                </div>
              </form>
            </div>

            <!--单人报名信息-->
            <div class="single-already-info apply-part">
              <div class="event-name" data-src="<%= image_path('homepage/info-t-bk.png') %>"></div>
              <span class="tips">您已报名参加该项目</span>

              <div class="single-info">
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-user"></i>
                    真实姓名
                  </div>
                  <div class="row-r" data-name="username"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-adjust"></i>
                    性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别
                  </div>
                  <div class="row-r" data-name="gender"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-education"></i>
                    所属学校
                  </div>
                  <div class="row-r" data-name="school"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-bookmark"></i>
                    年级班级
                  </div>
                  <div class="row-r" data-name="grade"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-bookmark"></i>
                    参赛编号
                  </div>
                  <div class="row-r" data-name="code"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-bookmark"></i>
                    指导老师
                  </div>

                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-plus"></i>
                    姓名
                  </div>
                  <div class="row-r" data-name="teacher"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-plus"></i>
                    电话
                  </div>
                  <div class="row-r" data-name="teacher_mobile"></div>
                </div>
                <div class="info-row">
                  <div class="row-l">
                    <i class="glyphicon glyphicon-qrcode"></i>
                    二维码
                  </div>
                  <div class="row-r" data-name="qrcode"></div>
                </div>
              </div>
              <div class="single-exit">
                <button class="btn-robodou btn-exit-event">退出比赛</button>
              </div>
            </div>

          </div>

          <!--团队项目组-->
          <div class="team-event">
            <!--搜索队伍-->
            <div class="search-team apply-part">
              <div class="team-panel">
                您选择的是多人项目 可以加入他人队伍或者自行创建队伍
                <br/>
                <br/>

                <div class="team-search" data-src="<%= image_path('homepage/select-bk.png') %>">
                  <input type="text" class="team-search-input"/>
                  <button data-ajax-get="/competitions/search_team" class="btn-robodou btn-search-team">查 询</button>
                  <button class="btn-robodou btn-create-team">创建队伍</button>
                </div>
                <div class="team-list">
                  <table>
                    <thead>
                    <tr>
                      <th class="col-n">队伍</th>
                      <th class="col-l">队长</th>
                      <th class="col-t">指导老师</th>
                      <th class="col-s">学校</th>
                      <th class="col-o"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!--个人信息确认 加入队伍版-->
            <div class="team-confirm-join apply-part">
              <form id="team-confirm-form">
                <div class="confirm-t" data-src="<%= image_path('homepage/info-t-bk.png') %>">
                  确认个人信息
                </div>
                <div class="confirm-c">
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-user"></i>
                      姓&nbsp;&nbsp;&nbsp;&nbsp;名
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="username" value="<%= current_user.username %>"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学籍号
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="student_code" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      性&nbsp;&nbsp;&nbsp;&nbsp;别
                    </div>
                    <div class="input-c">
                      <label class="radio-b"><input type="radio" name="gender" value="1"/>男</label>
                      <label class="radio-b"><input type="radio" name="gender" value="2"/>女</label>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-calendar"></i>
                      生&nbsp;&nbsp;&nbsp;&nbsp;日
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="date" name="birthday"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      所属组别
                    </div>
                    <div class="input-c">
                      <select data-select-target="group" class="group-choice">
                        <option value="0">选择组别</option>
                        <option value="1">小学</option>
                        <option value="2">初中</option>
                        <option value="3">高中</option>
                      </select>
                      <input type="hidden" name="group"/>
                    </div>
                  </div>
                  <div class="input-row hide idc-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-credit-card"></i>
                      身份证
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="identity_card"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      区&nbsp;&nbsp;&nbsp;&nbsp;县
                    </div>
                    <div class="input-c">
                      <select data-select-target="district">
                        <option value="0">选择区县</option>
                        <% District.all.each do |d| %>
                            <option value="<%= d.id %>"><%= d.name %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="district"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学&nbsp;&nbsp;&nbsp;&nbsp;校
                    </div>
                    <div class="input-c school-target">
                      <a class="open-school">
                        <i class="glyphicon glyphicon-plus"></i>
                        选择学校
                      </a>
                      <br/>
                      <a class="add-other-school">没有你的学校？点击添加</a>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      年&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="grade">
                        <option value="0">请选择年级</option>
                        <option value="一">一</option>
                        <option value="二">二</option>
                        <option value="三">三</option>
                        <option value="四">四</option>
                        <option value="五">五</option>
                        <option value="六">六</option>
                        <option value="七">七</option>
                        <option value="八">八</option>
                        <option value="九">九</option>
                        <option value="高一">高一</option>
                        <option value="高二">高二</option>
                        <option value="高三">高三</option>
                      </select>
                      <input type="hidden" name="grade" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      班&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="bj">
                        <option value="0">请选择班级</option>
                        <% for n in 1..100 %>
                            <option value="<%= n %>"><%= n %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="bj" value=""/>
                    </div>
                  </div>
                </div>
                <div class="confirm-b">
                  <button type="submit" class="apply-submit">提交个人信息</button>
                </div>
              </form>
            </div>

            <!--创建队伍-->
            <div class="create-team apply-part">
              <form id="team-create-form">
                <div class="create-t" data-src="<%= image_path('homepage/info-t-bk.png') %>">
                  创建队伍
                </div>
                <div class="create-c">
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-user"></i>
                      队伍名称
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="team_name" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-user"></i>
                      姓&nbsp;&nbsp;&nbsp;&nbsp;名
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="username" value="<%= current_user.username %>"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学籍号
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="student_code" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      性&nbsp;&nbsp;&nbsp;&nbsp;别
                    </div>
                    <div class="input-c">
                      <label class="radio-b"><input type="radio" name="gender" value="1"/>男</label>
                      <label class="radio-b"><input type="radio" name="gender" value="2"/>女</label>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-calendar"></i>
                      生&nbsp;&nbsp;&nbsp;&nbsp;日
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="date" name="birthday"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      组&nbsp;&nbsp;&nbsp;&nbsp;别
                    </div>
                    <div class="input-c">
                      <select data-select-target="group">
                        <option value="0">选择组别</option>
                        <option value="1">小学</option>
                        <option value="2">初中</option>
                        <option value="3">高中</option>
                      </select>
                      <input type="hidden" name="group"/>
                    </div>
                  </div>
                  <div class="input-row hide idc-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-credit-card"></i>
                      身份证
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="identity_card"/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-globe"></i>
                      区&nbsp;&nbsp;&nbsp;&nbsp;县
                    </div>
                    <div class="input-c">
                      <select data-select-target="district">
                        <option value="0">选择区县</option>
                        <% District.all.each do |d| %>
                            <option value="<%= d.id %>"><%= d.name %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="district"/>
                    </div>
                  </div>

                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      学&nbsp;&nbsp;&nbsp;&nbsp;校
                    </div>
                    <div class="input-c school-target">
                      <a class="open-school">
                        <i class="glyphicon glyphicon-plus"></i>
                        选择学校
                      </a>
                      <br/>
                      <a class="add-other-school">没有你的学校？点击添加</a>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      年&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="grade">
                        <option value="0">请选择年级</option>
                        <option value="一">一</option>
                        <option value="二">二</option>
                        <option value="三">三</option>
                        <option value="四">四</option>
                        <option value="五">五</option>
                        <option value="六">六</option>
                        <option value="七">七</option>
                        <option value="八">八</option>
                        <option value="九">九</option>
                        <option value="高一">高一</option>
                        <option value="高二">高二</option>
                        <option value="高三">高三</option>
                      </select>
                      <input type="hidden" name="grade" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-tag"></i>
                      班&nbsp;&nbsp;&nbsp;&nbsp;级
                    </div>
                    <div class="input-c">
                      <select data-select-target="bj">
                        <option value="0">请选择班级</option>
                        <% for n in 1..100 %>
                            <option value="<%= n %>"><%= n %></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="bj" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-flag"></i>
                      指导老师
                    </div>
                    <div class="input-c">

                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-plus"></i>
                      姓名
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="team_teacher" value=""/>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-t">
                      <i class="glyphicon glyphicon-plus"></i>
                      电话
                    </div>
                    <div class="input-c">
                      <input class="input-b" type="text" name="teacher_mobile" value=""/>
                    </div>
                  </div>
                </div>
                <div class="create-b">
                  <button type="submit" class="apply-submit">创建队伍</button>
                </div>
              </form>
            </div>

            <!--队伍信息-->
            <div class="team-already-info apply-part">
              <div class="already-apply">
                <div class="apply-team">
                  <div class="tips">
                    您已报名该项目，以下是您的报名信息
                  </div>
                  <div class="apply-row">
                    <div class="apply-row-left">
                      报名项目
                    </div>
                    <div class="apply-row-right event-name">

                    </div>
                  </div>
                  <div class="apply-row apply-team-row">
                    <div class="apply-row-left">
                      队伍
                    </div>
                    <div class="apply-row-right apply-team-name">

                    </div>
                  </div>
                  <div class="apply-row">
                    <div class="apply-row-left">
                      队员
                    </div>
                    <div class="apply-row-right apply-member-num">

                    </div>
                  </div>
                  <div class="apply-row add-member">
                    <div class="apply-row-left">
                      添加队员
                    </div>
                    <div class="apply-row-right">
                      <input class="invitation-text" type="text" placeholder="请输入姓名"/>
                      <input type="hidden" class="hidden-invitation-id" />
                      <button class="btn-robodou btn-add-team-member">邀请队员</button>
                    </div>
                  </div>
                  <div class="apply-row add-member">
                    <div class="apply-row-left">
                      邀请未注册队员
                    </div>
                    <div class="apply-row-right">
                      <input class="invitation-email" type="text" placeholder="请输入email"/>
                      <button class="btn-robodou btn-invitation">发送邮件</button>
                    </div>
                  </div>
                </div>
                <div class="apply-member">
                  <table>
                    <thead>
                    <tr>
                      <th class="col-n">名字</th>
                      <th class="col-x">性别</th>
                      <th class="col-s">学校</th>
                      <th class="col-g">年级</th>
                      <th class="col-o"></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
<!--选择学校-->
<div id="school-list" class="modal fade">
  <div id="add-school">
    <div class="title" data-src="<%= image_path('homepage/info-t-bk.png') %>">
      选择学校
    </div>
    <div class="school-list">
      <span class="tips">请选择学校</span>
      <ul class="items">

      </ul>
    </div>
    <div class="bottom">
      <button data-dismiss="modal" class="btn btn-default">取消</button>
    </div>
  </div>
</div>
<!--添加其他学校-->
<div id="add-other-school" class="modal fade">
  <div class="modal-panel">
    <div class="title" data-src="<%= image_path('homepage/info-t-bk.png') %>">
      添加额外学校
    </div>
    <div class="inner">
      <div class="left">
        <i class="glyphicon glyphicon-education"></i>
        学校名称
      </div>
      <div class="right">
        <input type="text" name="other-school"/>
      </div>
    </div>
    <div class="bottom">
      <button class="btn-robodou apply-submit">确认添加</button>
    </div>
  </div>
</div>