<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div class="event" id="event">
        <div class="sec-t" data-src="<%= image_path('homepage/match-info-t-bk.png') %>">
          <%= @competition.name %>报名
        </div>
        <div class="sec-c">
          <div class="event-panel">
            <div class="title">项目名称</div>
            <div class="event-select" data-src="<%= image_path('homepage/select-bk.png') %>">
              <select class="selected-display">
                <option value="0">请选择项目</option>
                <% @events.each do |e| %>
                    <option class="event-option" value="<%= e.id %>"><%= e.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="team-panel">
            <div class="team-search" data-src="<%= image_path('homepage/select-bk.png') %>">
              <input type="text" class="team-search-input"/>
              <button data-ajax-get="/competitions/search_team" class="btn btn-search-team">查 询</button>
            </div>
            <div class="team-list">
              <table>
                <thead>
                <tr>
                  <th class="col-n">队伍</th>
                  <th class="col-l">队长</th>
                  <th class="col-t">指导老师</th>
                  <th class="col-s">学校</th>
                  <th class="col-o"> </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>