<div class="main" id="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container text-center" id="event-list">
    <h3>
      <%= @competition.name %>
    </h3>

    <ul class="competition-steps clearfix">
      <li class="step-wrapper">
        <p class="step">STEP1</p>
        <p class="step-desc">更新选手信息</p>
      </li>
      <li class="step-wrapper active">
        <p class="step">STEP2</p>
        <p class="step-desc">选择赛事项目</p>
      </li>
      <li class="step-wrapper">
        <p class="step">STEP3</p>
        <p class="step-desc">提交报名信息</p>
      </li>
      <li class="step-wrapper">
        <p class="step">STEP4</p>
        <p class="step-desc">等待审核</p>
      </li>
    </ul>

    <% if @events.is_a?(Hash) %>
        <div class="middle">
          <% if @competition.apply_end_time > Time.now %>
              <% already = @events[:already] %>
              <% one = @events[:one] %>
              <% multiple = @events[:multiple] %>

              <% if current_user %>
                <% if already.present? %>
                  <h4>已选项目</h4>
                  <div>已提交状态才算是报名成功噢</div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th>项目</th>
                        <th>类别</th>
                        <th>状态</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% already.each do |apply_event| %>
                        <tr>
                          <td><%= apply_event.name %></td>
                          <td><%= apply_event.team_status %></td>
                          <td><%= apply_event.team_status %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <% else %>
                      您暂没有报名任何项目
                  <% end %>
                  <br>
              <% end %>


              <% if one.present? %>
                  单人项目：
                  <a id="one-event-apply" class="btn btn-lightblue">报名</a>
                  <% one.each do |one_events| %>
                      <p>
                        <input type="checkbox" name="one-event" value="<%= one_events.id %>"><%= one_events.name %>
                      </p>
                  <% end %>
              <% end %>
              <br>

              <% if multiple.present? %>
                  多人项目：
                  <% multiple.each do |multiple_events| %>
                      <%= multiple_events.name %>
                  <% end %>
              <% end %>

          <% else %>
              <h3 class="text-center" style="color: white">已过报名时间</h3>
          <% end %>
        </div>
    <% else %>
        <div class="tips">该比赛暂无项目</div>
    <% end %>

  </div>
</div>
<a href="#user-apply-info" class="hide" id="show-user-info" role="button" data-toggle="modal">确认信息</a>
<div id="user-apply-info" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="blue bigger text-center">确认报名信息</h4>
      </div>

      <div class="modal-body overflow-visible">
        <div class="row">

          <div class="col-xs-12">
            <div class="row">
              <form class="form-horizontal" id="competition-apply-batch">
                <div class="form-group">
                  <label for="username" class="col-sm-3 control-label">姓名</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" id="username-join" value="<%= @user_info.username %>" placeholder="姓名">
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="col-sm-3 control-label">性别</label>

                  <div class="col-sm-8">
                    <label class="gender-label"><input type="radio" name="gender" value="1" <%= 'checked="checked"' if @user_info.gender.to_i == 1 %>/>男</label>
                    <label class="gender-label"><input type="radio" name="gender" value="2" <%= 'checked="checked"' if @user_info.gender.to_i == 2 %>/>女</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="col-sm-3 control-label">手机号</label>

                  <div class="col-sm-8 special-row">

                    <%= current_user.mobile %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="birthday" class="col-sm-3 control-label">生日</label>

                  <div class="col-sm-8">
                    <input type="text" name="birthday" class="form-control datetime" id="birthday-join" value="<%= @user_info.birthday %>" data-type="select-date" data-date-format="yyyy-mm-dd">
                  </div>
                </div>
                <div class="form-group">
                  <label for="school_name" class="col-sm-3 control-label">学籍所在学校</label>

                  <div class="col-sm-8 special-row school-field">
                    <% if @user_info.school_id.present? && @user_info.school_id!=0 %>
                        <span class="change-school school-tag"><%= @user_info.school_name %> </span>
                    <% else %>
                        <button class="new-school btn-robodou">选择学校</button>
                    <% end %>
                    <input type="hidden" id="district-id" value="<%= @user_info.district_id %>"/>
                    <input type="hidden" name="school_id" id="school-id" value="<%= @user_info.school_id %>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="school_name" class="col-sm-3 control-label">报名学校</label>

                  <div class="col-sm-8 special-row school-field">
                    <% if @user_info.school_id.present? && @user_info.school_id!=0 %>
                        <span class="change-school school-tag"><%= @user_info.school_name %> </span>
                    <% else %>
                        <button class="new-school btn-robodou">选择学校</button>
                    <% end %>
                    <input type="hidden" id="district-id" value="<%= @user_info.district_id %>"/>
                    <input type="hidden" name="sk_station" id="school-id" value="<%= @user_info.school_id %>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="grade" class="col-sm-3 control-label">年级</label>

                  <div class="col-sm-8">
                    <select id="grade-join" name="grade" class="form-control">
                      <option value="0">请选择年级</option>
                      <option value="1" <%= 'selected="selected"' if @user_info.grade.to_i == 1 %>>一年级</option>
                      <option value="2" <%= 'selected="selected"' if @user_info.grade.to_i == 2 %>>二年级</option>
                      <option value="3" <%= 'selected="selected"' if @user_info.grade.to_i == 3 %>>三年级</option>
                      <option value="4" <%= 'selected="selected"' if @user_info.grade.to_i == 4 %>>四年级</option>
                      <option value="5" <%= 'selected="selected"' if @user_info.grade.to_i == 5 %>>五年级</option>
                      <option value="6" <%= 'selected="selected"' if @user_info.grade.to_i == 6 %>>六年级（初中预备）</option>
                      <option value="7" <%= 'selected="selected"' if @user_info.grade.to_i == 7 %>>七年级（初中一年级）</option>
                      <option value="8" <%= 'selected="selected"' if @user_info.grade.to_i == 8 %>>八年级（初中二年级）</option>
                      <option value="9" <%= 'selected="selected"' if @user_info.grade.to_i == 9 %>>九年级（初中三年级）</option>
                      <option value="10" <%= 'selected="selected"' if @user_info.grade.to_i == 10 %>>高中一年级</option>
                      <option value="11" <%= 'selected="selected"' if @user_info.grade.to_i == 11 %>>高中二年级</option>
                      <option value="12" <%= 'selected="selected"' if @user_info.grade.to_i == 12 %>>高中三年级</option>
                    </select>
                  </div>
                </div>
                <div class="form-group identity-group-join <%= 'hide' if @user_info.grade.to_i < 10 %>">
                  <label for="identity_card" class="col-sm-3 control-label">身份证</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="identity_card" id="identity_card-join" value="<%= @user_info.identity_card %>">
                  </div>
                </div>
                <div class="form-group">
                  <label for="bj" class="col-sm-3 control-label">班级</label>

                  <div class="col-sm-8">
                    <select id="bj-join" name="bj" class="form-control">
                      <option value="0">请选择班级</option>
                      <% (1..100).each do |bj| %>
                          <option value="<%= bj %>"><%= bj %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="group" class="col-sm-3 control-label">组别</label>

                  <div class="col-sm-8">
                    <select id="group-join" class="form-control" name="group">
                      <option value="">请选择组别</option>
                      <option value="1">小学</option>
                      <option value="2">中学</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="teacher" class="col-sm-3 control-label">指导教师</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="teacher" id="teacher-join">
                  </div>
                </div>

                <div class="form-group">
                  <label for="student_code" class="col-sm-3 control-label">学籍号</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="student_code-join" value="<%= @user_info.student_code %>">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                    <button class="btn btn-info btn-block" id="competition-apply-batch-submit">提交</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
