<div class="main" id="main">
  <div class="container" id="comp-list">
    <div class="competition-top">
      <%= link_to "报名流程", apply_process_competitions_path, id: "apply-flow-btn", class: "btn btn-lightblue btn-top" %>
      <ul class="competition-steps clearfix">
        <li class="step-wrapper">
          <p class="step">STEP1</p>
          <p class="step-desc">选择赛事项目</p>
        </li>
        <li class="step-wrapper">
          <p class="step">STEP2</p>
          <p class="step-desc">更新选手信息</p>
        </li>
        <li class="step-wrapper">
          <p class="step">STEP3</p>
          <p class="step-desc">提交报名信息</p>
        </li>
        <li class="step-wrapper">
          <p class="step">STEP4</p>
          <p class="step-desc">等待审核</p>
        </li>
      </ul>
    </div>
    <div class="middle">
      <% @competitions.each do |c| %>
          <div class="comp-item">
            <a href="<%= competition_path(c) %>">
              <div class="item-box">
                <%= image_tag(c.cover, class: 'cover') %>
                <div class="shade">
                  <p><%= c.name %></p>
                  <div class="shade-btn">
                    <button class="btn-go-comp">查看详情</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
      <% end %>
    </div>
    <nav>
      <%= paginate @competitions %>
    </nav>
    <div class="bottom">
    </div>
    <div class="main-overlay"></div>
  </div>
</div>
