<div class="container">
  <% if current_user.email.blank? %>
      您还没有验证邮箱，暂时不能报名! 请您<a href="<%= "/user/email?return_uri=#{url_encode(request.url)}" %>">去验证</a>
  <% else %>

      <div>
        <% if @already_apply.present? && !@already_apply.status %>
            <p>您已经申请加入<%= @already_apply.team.name %>,请等待队长同意</p>
        <% end %>
        <% if @already_apply.present? && @already_apply.status && @already_apply.team.user_id == current_user.id && @event.team_max_num > @team_players %>
            你已经报名该比赛,你可以邀请其他伙伴加入该队伍
            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="shuru">去邀请</button>
            <br><br>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">邀请队员</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="">
                        <label for="invited-email" class="control-label">信息:</label>
                        <input type="text" class="form-control" name="invited-email" data-id="1" id="invited-email">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary invite-player-submit" data-name="<%= @already_apply.team_id %>" data-event="<%= @event.name %>" data-id="<%= @event.id %>">邀请</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">已有队伍</a></li>

          <% unless @already_apply.present? %>
              <li role="presentation">
                <a href="#create-team" aria-controls="create-team" role="tab" data-toggle="tab">创建队伍</a>
              </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <% if @teams.present? %>
                <div class="panel-body">
                  <% @teams.each do |team| %>
                      <% if @already_apply.present? && team.id == @already_apply.team_id %>
                          <div class="leader-team"><%= team.name %></div>
                      <% else %>
                          <div><%= team.name %></div>
                      <% end %>
                      <% unless @already_apply.present? %>
                          <span class="btn btn-xs btn-primary user-apply-join-team" data-id="<%= team.id %>" data-name="<%= team.event_id %>" data-leader="<%= team.user_id %>">申请加入</span>
                      <% end %>
                      <!--<button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#update-info-show" data-whatever="shuru">申请加入</button>-->
                  <% end %>
                  <br><br>

                  <div class="modal fade" id="update-info-show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title text-center" id="exampleModalLabel">请确认或添加报名信息</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-horizontal">
                              <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">姓名 :</label>

                                <div class="col-sm-10">
                                  <input type="text" class="form-control" value="<%= current_user.user_profile.try(:username) %>" id="username" placeholder="请输入姓名">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="school" class="col-sm-2 control-label">学校 :</label>

                                <div class="col-sm-10">
                                  <input type="text" class="form-control" value="<%= current_user.user_profile.try(:school) %>" id="school" placeholder="请输入学校">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="grade" class="col-sm-2 control-label">年级 :</label>

                                <div class="col-sm-10">
                                  <input type="text" class="form-control" value="<%= current_user.user_profile.try(:grade) %>" id="grade" placeholder="请输入年级">
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <button class="btn btn-info btn-block add-team-info-submit">提交</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            <% else %>
                暂时还没有队伍报名
            <% end %>

          </div>
          <div role="tabpanel" class="tab-pane create-team-show" id="create-team">
            <br>

            <div class="col-md-6  update-user-profile">
              <div class="panel panel-info">
                <div class="panel-heading">
                  请确认或添加报名信息
                </div>
                <div class="panel-body">

                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="username" class="col-sm-2 control-label">姓名 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="<%= current_user.user_profile.try(:username) %>" id="username" placeholder="请输入姓名">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="school" class="col-sm-2 control-label">学校 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="<%= current_user.user_profile.try(:school) %>" id="school" placeholder="请输入学校">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="grade" class="col-sm-2 control-label">年级 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="<%= current_user.user_profile.try(:grade) %>" id="grade" placeholder="请输入年级">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info btn-block update-apply-info-submit">提交</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-7 create-team-show hide">
              <div class="panel panel-primary">
                <div class="panel-heading text-center">
                  填写队伍信息
                </div>
                <div class="panel-body">

                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="team-name" class="col-sm-2 control-label">队名 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="team-name" placeholder="请输入队伍名称">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="team-teacher" class="col-sm-2 control-label">指导教师 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="team-teacher" placeholder="请输入指导教师">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="team-district" class="col-sm-2 control-label">所属区县 :</label>

                      <div class="col-sm-10">
                        <select class="form-control" id="team-district">
                          <option value="">请选择队伍所属区县</option>
                          <% @districts.each do |d| %>
                              <option value="<%= d.id %>"><%= d.name %></option>
                          <% end %>
                        </select>
                        <!--<input type="text" class="form-control" id="team-district" placeholder="请输入指导教师">-->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="team-code" class="col-sm-2 control-label">队伍秘钥 :</label>

                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="team-code" placeholder="请输入队伍秘钥">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary btn-block leader-create-team-submit" data-id="<%= params[:eid] %>">提交</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  <% end %>
</div>