<div class="main" id="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container text-center" id="comp-show">
    <div class="top">
      <%= @competition.name %>
    </div>
    <div class="middle">
      <div class="download-area">
        <div class="title">
          资料下载
        </div>
        <a target="_blank" href="<%= @competition.time_schedule %>">
          <div class="download-item">
            <div class="icon">
              <i class="glyphicon glyphicon-cloud-download"></i>
            </div>
            <div class="item-name">比赛时间安排</div>
          </div>
        </a>
        <a target="_blank" href="<%= @competition.detail_rule %>">
          <div class="download-item">
            <div class="icon">
              <i class="glyphicon glyphicon-cloud-download"></i>
            </div>
            <div class="item-name">比赛详细规则</div>
          </div>
        </a>
      </div>
      <div class="section">
        <div class="section-title">
          活动信息
        </div>
        <div class="section-content">
          <div class="section-fold">
            <div class="fold-head">
              比赛宗旨
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.aim.gsub(';', '<br>') %>
            </div>
          </div>
          <div class="section-fold even">
            <div class="fold-head">
              大赛组委会
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.organizing_committee.gsub(';', '<br>') %>
            </div>
          </div>
          <div class="section-fold">
            <div class="fold-head">
              日程安排
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.date_schedule.gsub(';', '<br>') %>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-title">
          比赛信息
        </div>
        <div class="section-content">
          <div class="section-fold">
            <div class="fold-head">
              参赛要求
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.apply_require.gsub(';', '<br>') %>
            </div>
          </div>
          <div class="section-fold even">
            <div class="fold-head">
              奖励方法
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.reward_method.gsub(';', '<br>') %>
            </div>
          </div>
          <div class="section-fold">
            <div class="fold-head">
              参赛方法
              <span class="caret"></span>
            </div>
            <div class="fold-body">
              <%== @competition.apply_method.gsub(';', '<br>') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <%= link_to "/competitions/#{@competition.id}/events", class: 'btn-robodou btn-big' do %>
          去报名
      <% end %>
    </div>
  </div>
</div>
