<div id="main" class="main" data-src="<%= image_path('homepage/bk.png') %>">
  <div class="container">
    <div class="row">
      <div id="match-info">
        <div class="sec-t" data-src="<%= image_path('homepage/match-info-t-bk.png') %>">
          <%= @competition.name %>
        </div>
        <div class="sec-c">
          <div class="download" data-src="<%= image_path('homepage/match-download.png') %>">
            <ul class="items">
              <li class="item">
                <a class="download-block" href="">
                  <img src="" alt="" data-src="<%= image_path('homepage/download-icon.png') %>"/>
                </a>
                <p>2016 机械奥运比赛时间安排</p>
              </li>
              <li class="item">
                <a class="download-block" href="">
                  <img src="" alt="" data-src="<%= image_path('homepage/download-icon.png') %>"/>
                </a>
                <p>2016 机械奥运项目细则</p>
              </li>
            </ul>
          </div>
          <div class="match-dec">
            <ul class="items">
              <li class="item">
                <div class="item-t">
                  大赛宗旨
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  机械奥运的宗旨是：激发青少年对工程技术的兴趣，培养青少年的创新和实践能力。
                  <br/>
                  大赛口号：以智慧和行动，创新每一天!
                </div>
              </li>
              <li class="item">
                <div class="item-t">
                  大赛组委会
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  <h4>主办单位</h4>
                  <p>上海市科技艺术教育中心</p>
                  <p>宝山区教育局</p>
                  <h4>承办单位</h4>
                  <p>宝山区青少年科技指导站</p>
                  <p>上海市通河高级中学</p>
                </div>
              </li>
              <li class="item">
                <div class="item-t">
                  日程安排
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  市决赛时间2016年5月22日
                </div>
              </li>
            </ul>
          </div>
          <div class="match-dec">
            <ul class="items">
              <li class="item">
                <div class="item-t">
                  比赛项目
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  <p>一、海洋探索比赛</p>
                  <p>小学组项目：</p>
                  <p>1.	环保清洁海面机械人比赛</p>
                  <p>2.	机械人水球比赛</p>
                  <p>3.	海难拯救及打捞机械人比赛</p>
                  <p>4.	海洋探索寻宝机械人比赛</p>
                  <p>5.	手摇发电机械人背泳赛</p>
                  <p>6.	手摇发电机械人蛙泳赛</p>
                  <p>7.	手摇发电机械人蝶泳赛</p>
                  <p>8.	手摇发电机械人自由式泳赛</p>
                  <p>9.	手摇发电机械人四式接力泳赛</p>
                  <p>10. 手摇发电直立式机械鱼短途泳赛</p>
                  <p>11. 手摇发电水平式机械鱼短途泳赛</p>
                  <p>12. 手摇发电二桨划艇比赛</p>
                  <p>13. 手摇发电机械小黄鸭</p>
                  <br/>
                  <p>中学组项目：</p>
                  <p>1.	环保清洁海面机械人比赛</p>
                  <p>2.	机械人水球比赛</p>
                  <p>3.	海难拯救及打捞机械人比赛</p>
                  <p>4.	海洋探索寻宝机械人比赛</p>
                  <p>5.	水陆障碍机械铁人赛</p>
                  <p>6.	手摇发电机械人背泳赛</p>
                  <p>7.	手摇发电机械人蛙泳赛</p>
                  <p>8.	手摇发电机械人蝶泳赛</p>
                  <p>9.	手摇发电机械人自由式泳赛</p>
                  <p>10. 手摇发电机械人四式接力泳赛</p>
                  <p>11. 手摇发电直立式机械鱼短途泳赛</p>
                  <p>12. 手摇发电水平式机械鱼短途泳赛</p>
                  <p>13. 手摇发电机械小黄鸭</p>
                  <p>14. 有线控制机械鱼障碍赛</p>
                  <p>15. 无线电伺服马达机械鱼障碍赛</p>
                  <p>16. 手摇发电四桨划艇比赛</p>
                  <p>17. 手摇发电独木舟比赛</p>
                  <p>18. 无线电伺服马达四桨划艇障碍比赛</p>
                  <p>19. 无线电伺服马达机械小黄鸭障碍比赛</p>
                  <br/>
                  <p>二、陆地机器人比赛</p>
                  <br/>
                  <p>小学组项目：</p>
                  <p>A组：单马达机械人组别</p>
                  <p>1.	手摇发电机械马短跑比赛</p>
                  <p>2.	机械马短跑接力比赛</p>
                  <p>3.	手摇发电机械人拉雪橇比赛</p>
                  <p>4.	手摇发电机械人消防拯救比赛 (三项接力赛)</p>
                  <p>5.	手摇发电单马达机械人造型设计比赛</p>
                  <p>6.	手摇发电蹦跳机械人短跑比赛</p>
                  <p>7.	手摇发电蹦跳机械人造型设计比赛</p>
                  <p>B组：多马达机械人组别</p>
                  <p>8.	机械人拳击比赛</p>
                  <p>9.	机械人美式足球(榄球)比赛</p>
                  <p>10.	机械牧羊犬比赛</p>
                  <p>11.	机械蚂蚁障碍赛</p>
                  <p>12.  多马达机械人造型设计比赛</p>
                  <p>13.  机械人十二码射球比赛</p>
                  <p>C组：创意设计</p>
                  <p>14.  生命植入创意模型设计比赛</p>
                  <br/>
                  <p>中学组项目：</p>
                  <p>A组：单马达机械人组别 （初中二或以下同学参加）</p>
                  <p>1.	手摇发电二足机械人短跑比赛</p>
                  <p>2.	机械马短跑接力比赛</p>
                  <p>3.	手摇发电机械人拉雪橇比赛</p>
                  <p>4.	手摇发电机械人消防拯救比赛 (三项接力赛)</p>
                  <p>5.	手摇发电单马达机械人造型设计比赛</p>
                  <p>6.	手摇发电虫虫机械人短跑比赛</p>
                  <p>7.	手摇发电虫虫机械人造型设计比赛</p>
                  <p>B组：多马达机械人组别 （供高中三或以下同学参加）</p>
                  <p>8.	机械人拳击比赛</p>
                  <p>9.	星球探索比赛</p>
                  <p>10.  多马达机械人造型设计比赛</p>
                  <p>C组：无线操控机械人组别 （供高中三或以下同学参加）</p>
                  <p>11.	机械人足球比赛</p>
                  <p>12.	机械人十二码射球比赛</p>
                  <p>13.  机械人篮球比赛</p>
                  <p>D组：伺服马达机械人组别（供高中三或以下同学参加）</p>
                  <p>14.	伺服马达多足机械人短跑比赛</p>
                  <p>15.	伺服马达C型脚掌二足机械人短跑比赛</p>
                  <p>16.	伺服马达重心交移二足机械人短跑比赛</p>
                  <p>17.	伺服马达机械人自由体操比赛</p>
                  <p>18.	伺服马达机械人舞蹈比赛</p>
                  <p>19.	伺服马达机械人造型设计比赛</p>
                  <p>20.	伺服马达人型机械人障碍赛</p>
                  <p>21.	伺服马达人型机械人武术比赛</p>
                  <p>22. 伺服马达人型机械人 – 大乱斗</p>
                  <p>23. 伺服马达人型机械人 – 冰壸</p>
                  <p>24. 伺服马达人型机械人 – 障碍跑</p>
                  <p>25. 伺服马达人型机械人 – 接力赛</p>
                  <p>26. 伺服马达人型机械人 – 足球赛</p>
                  <p>E组：创意设计</p>
                  <p>27.  生命植入创意模型设计比赛</p>
                </div>
              </li>
              <li class="item">
                <div class="item-t">
                  参赛要求
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  各区(县)由青少年科技指导站（中心）组织本区学校参赛。
                </div>
              </li>
              <li class="item">
                <div class="item-t">
                  奖励方法
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  1、向各项目、各组别获奖的学生颁发奖状。
                  <br/>
                  2、获各项目的中、小组的优胜队将代表上海学生参加今年8月2016机械奥运国际赛。
                </div>
              </li>
              <li class="item">
                <div class="item-t">
                  参赛方法
                  <i class="glyphicon glyphicon-chevron-down match-toggle"></i>
                </div>
                <div class="item-c">
                  1、各区(县)由青少年科技指导站（中心）组织本区学校参赛。
                  <br/>
                  2、参加市比赛的名额为区赛总人数的一定比例选拔赛优胜队报名，报名后参赛人员不得更改。
                </div>
              </li>
            </ul>
          </div>
          <div class="apply-in">
            <%= link_to "#{apply_event_competitions_path}?cd=#{@competition.id}", class: 'btn-robodou btn-apply-match' do %>
                报 名
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>