<h1 class="page-header">
  积分列表
  <small class="pull-right">
    <a href="/admin/checks/points" class="btn btn-default" title="待审核积分">
      待审核积分</a>
  </small>
  <div class="col-xs-12 col-sm-2 form-group pull-right" style="margin-top: 5px">
    <select id="change-point-list" name="country" class=" form-control">
      <option value="">全部</option>
      <option <%= 'selected' if params[:audit_status] == '1' %> value="1">
        通过
      </option>
      <option <%= 'selected' if params[:audit_status] == '0' %> value="0">
        未通过
      </option>
    </select>
  </div>
</h1>
<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>姓名</th>
    <th>年份</th>
    <th>项目</th>
    <th>奖项</th>
    <th>积分</th>
    <th>证书</th>
    <th>状态</th>
  </tr>
  </thead>
  <tbody>
  <% @point_list.each do |th| %>
      <tr>
        <td><%= th.username %></td>
        <td><%= th.host_year %></td>
        <td><%= th.name %></td>
        <td><%= th.prize_name %></td>
        <td><%= th.point %></td>
        <td class="ace-thumbnails">
          <% if th.cover.present? %>
              <a href="<%= th.cover_url %>" title="<%= th.username %>" data-rel="colorbox">
                证书
              </a>
          <% end %>
        </td>
        <td><%= th.status ? '通过':'未通过' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<nav>
  <%= paginate @point_list %>
</nav>