<h1 class="page-header">
  待审核积分列表
  <small class="pull-right">
    <a href="/admin/checks/point_list" class="btn btn-default" title="积分列表">
      积分列表</a>
  </small>
</h1>
<% if @points.present? %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>姓名</th>
        <th>年份</th>
        <th>项目</th>
        <th>奖项</th>
        <th>积分</th>
        <th>证书</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @points.each do |th| %>
          <tr id="audit-point-<%= th.id %>">
            <td><%= th.username %></td>
            <td><%= th.host_year %></td>
            <td><%= th.name %></td>
            <td><%= th.prize_name %></td>
            <td><%= th.point %></td>
            <td class="ace-thumbnails">
              <% if th.cover.present? %>
                  <a href="<%= th.cover_url %>" title="<%= th.username %>" data-rel="colorbox">
                    证书
                  </a>
              <% end %>
            </td>
            <td>
              <a href="#modal-form" role="button" data-toggle="modal" data-id="<%= th.id %>" class="btn btn-xs btn-warning audit-user-point">
                审核
              </a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <nav>
      <%= paginate @points %>
    </nav>
    <div id="modal-form" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="widget-header model-header">
            <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
            <h4 class="blue smaller text-center">审核结果</h4>
          </div>

          <div class="modal-body overflow-visible">
            <div class="row text-center audit-point-status">
              <label><input name="audit-point" value="1" type="radio"/> 通过</label>&nbsp;&nbsp;
              <label><input name="audit-point" value="0" type="radio"/> 未通过</label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="icon-remove"></i>
              取消
            </button>

            <button class="btn btn-sm btn-primary audit-point-submit">
              <i class="icon-ok"></i>
              提交
            </button>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="alert alert-success">
      暂无未审核积分
    </div>
<% end %>
