<h1 class="page-header">
  待审核的裁判列表
  <small class="pull-right">
    <a href="/admin/checks/referee_list" class="btn btn-default" title="裁判列表">
      裁判列表</a>
    <a href="/admin/checks/teachers" class="btn btn-default" title="教师列表">
      待审核教师</a>

  </small>
</h1>
<% if @referees.present? %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>手机</th>
        <th>学校</th>
        <th>比赛</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @referees.each do |re| %>
          <tr>
            <td><%= re.username %></td>
            <td><%= t('gender.gender'+re.gender.to_s) %></td>
            <td><%= re.age %></td>
            <td><%= re.mobile %></td>
            <td><%= re.school %></td>
            <td><%= re.name %></td>
            <td>
              <a href="#modal-form" role="button" data-toggle="modal" data-id="<%= re.id %>" class="btn btn-xs btn-warning update-cw-id">
                审核
              </a>
            </td>
          </tr>
          <input type="hidden" class="comp-worker-<%= re.id %>" value="<%= re.id %>">
      <% end %>
      </tbody>
    </table>
    <nav>
      <%= paginate @referees %>
    </nav>
    <div id="modal-form" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="widget-header model-header">
            <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
            <h4 class="blue smaller text-center">审核结果</h4>
          </div>

          <div class="modal-body overflow-visible">
            <div class="row text-center referee-apply-status">
              <label class=""><input name="referee-apply" value="1" type="radio"/> 通过</label>&nbsp;&nbsp;
              <label class=""><input name="referee-apply" value="0" type="radio"/> 未通过</label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="icon-remove"></i>
              取消
            </button>

            <button class="btn btn-sm btn-primary review-referee-info-submit">
              <i class="icon-ok"></i>
              提交
            </button>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="alert alert-success">
      暂无未审核裁判
    </div>
<% end %>