<h1 class="page-header">
  已审核学校列表
  <small class="pull-right">
    <a href="/admin/checks/schools" class="btn btn-default" title="待审核学校">
      待审核学校</a>
  </small>
</h1>
<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>名称</th>
    <th>区县</th>
    <th>类别</th>
    <th>添加者</th>
    <th>审核结果</th>
  </tr>
  </thead>
  <tbody>
  <% @schools.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.district %></td>
        <td>
          <% case s.school_type.to_i %>
          <% when 1 then %>
              小学
          <% when 2 then %>
              初中
          <% when 3 then %>
              高中
          <% else %>
              大学
          <% end %>
        </td>
        <td><%= s.username %></td>
        <td><label class="label <%= s.audit ? 'label-primary' : 'label-danger' %>"><%= s.audit ? '通过' : '未通过' %></label>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<nav>
  <%= paginate @schools %>
</nav>