<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.demeanor') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @photo]) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.hidden_field :competition_id, value: params[:cod].present? ? params[:cod] : @photo.competition_id %>
        </div>
        <% if params[:action]=='edit' %>
            <%= f.file_field :image %>
        <% else %>
            <%= f.file_field :image, multiple: true %>
        <% end %>
        <%= f.hidden_field :image_cover %>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>

