<div id="main" class="main" data-src="<%= image_path('homepage/bk.png') %>">
  <div class="container">
    <div class="row">
      <div id="banner" class="col-sm-9 col-xs-12">
        <div class="banner-inner">
          <div class="slider" data-src="<%= image_path('homepage/slider-border.png') %>">
            <div class="slider-win">
              <ul class="items">
                <li class="item"><a href="#"><img
                data-src="<%= image_path('homepage/slider-02.jpg') %>"/></a></li>
                <li class="item"><a href="#"><img
                data-src="<%= image_path('homepage/slider-02.jpg') %>"/></a></li>
                <li class="item"><a href="#"><img
                data-src="<%= image_path('homepage/slider-02.jpg') %>"/></a></li>
              </ul>
              <div class="slider-controller">
                <span class="slider-prev"></span>
                <span class="slider-next"></span>
              </div>
            </div>
          </div>
          <div class="intro" data-src="<%= image_path('homepage/intro-bk.png') %>">
            <div class="sec-t">
              2016 机械奥运
            </div>
            <div class="sec-c">
              机械奥运活动将科技创新实践的成果交流以体育竞技的形式予以呈现，以“更快、更高、更强”的奥运精神激励青少年不断超越自我。
              <br/>
              <a class="more-link" href="<%= competitions_path %>">
                <i class="glyphicon glyphicon-triangle-right"></i>&nbsp;更多
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar" class="hidden-xs">
        <div class="sidebar-inner">
          <div class="sec-t" data-src="<%= image_path('homepage/sidebar-title-bk.png') %>">
            近期比赛&活动
          </div>
          <div class="sec-c">
            <ul class="items">
              <% @recent_activities.each do |a| %>
                  <li class="item">
                    <a class="item-img" href="<%= "/activities/#{a.id}" %>" data-src="<%= image_path('homepage/sidebar-item-bk.png') %>">
                      <img data-src="<%= image_path('homepage/sidebar-item02.jpg') %>" src="" alt=""/>
                    </a>
                    <a class="item-link" href="<%= "/activities/#{a.id}" %>">
                      <%= a.name %>
                    </a>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div id="board" class="col-sm-9 col-xs-12">
        <div class="board-inner">
          <div class="row">
            <div class="col-sm-4">
              <div class="board-item" data-src="<%= image_path('homepage/board-bk.png') %>">
                <div class="sec-t">
                  个人积分
                </div>
                <div class="sec-c">
                  敬请期待
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="board-item" data-src="<%= image_path('homepage/board-bk.png') %>">
                <div class="sec-t">
                  学校积分
                </div>
                <div class="sec-c">
                  敬请期待
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="board-item" data-src="<%= image_path('homepage/board-bk.png') %>">
                <div class="sec-t">
                  老师积分
                </div>
                <div class="sec-c">
                  敬请期待
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>