<div class="main" id="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container" id="news-show">
    <div class="news-content">
      <div class="news-content-image" data-src="<%= image_path('news-content-bk.png') %>">
        <%= image_tag(@news.cover) %>
      </div>
      <div class="news-content-tags">
        <%= @news_type %>
      </div>
      <div class="news-content-text">
        <h2 class="text-center"><%= @news.name %></h2>
        <%= @news.content.html_safe %>
      </div>
    </div>
  </div>
</div>