<h1 class="page-header">
  显示<%= t('activerecord.models.volunteer') %>
  <small class="pull-right">
    <a href="<%= edit_admin_volunteer_path(@volunteer) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_volunteers_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= t('activerecord.models.volunteer') %>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.name') %>:</h4>

      <%= @volunteer.competition.name %>
    </li>
    <li class="list-group-item">
      <h4>类型:</h4>

      <%= @volunteer.news_type.name %>
    </li>
    <li class="list-group-item">
      <h4>内容:</h4>

      <%= @volunteer.content %>
    </li>
    <li class="list-group-item">
      <h4>报名起始时间:</h4>

      <p><%= @volunteer.apply_start_time.try(:strftime, '%Y-%m-%d %H:%M') %>
        － <%= @volunteer.apply_end_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>
    </li>

  </ul>
</div>