<h1 class="page-header">
  编辑<%= t('activerecord.models.event_volunteer') %>
  <small class="pull-right">
    <a href="<%= admin_event_volunteer_path(@event_volunteer) %>" title="显示该<%= t('activerecord.models.event_volunteer') %>" class="btn btn-default">
      <i class="icon-eye-open icon-only"></i></a>
    <a href="<%= admin_event_volunteers_path %>" title="<%= t('activerecord.models.event_volunteer') %>列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>