<h1 class="page-header">
  <%= @volunteers.first.name %>

  <small class="pull-right">
    <% if @volunteers.length >0 %>
        <a href="#" class="btn btn-info" title="积分排序">
          积分排序
        </a>
        <a href="#" class="btn btn-primary btn-search-toggle" title="次数排序">
          次数排序
        </a>
    <% end %>
  </small>
</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'hide' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text class="admin-search-field"><%= t('simple_form.labels.defaults.name') %></span>
              <span class="caret"></span></button>
            <ul class="dropdown-width dropdown-menu">
              <li data-search-option="name"><a><%= t('simple_form.labels.defaults.name') %></a></li>
              <li data-search-option="id"><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'name' %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
        </div>
      </form>
    </div>
  </div>
</div>
<% if @volunteers.length >0 %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th><%= t('simple_form.labels.defaults.username') %></th>
        <th><%= t('simple_form.labels.defaults.mobile') %></th>
        <th><%= t('simple_form.labels.defaults.standby_school') %></th>
        <th>次数</th>
        <th>平均积分</th>
        <th><%= t('simple_form.labels.defaults.alipay_account') %></th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @volunteers.each do |event_volunteer| %>
          <tr id="row-<%= event_volunteer.id %>">
            <td><%= event_volunteer.id %></td>
            <td><%= event_volunteer.username %></td>
            <td><%= event_volunteer.mobile %></td>
            <td><%= event_volunteer.standby_school %></td>
            <td><%= event_volunteer.times %></td>
            <td><%= event_volunteer.points %></td>
            <td><%= event_volunteer.alipay_account %></td>
            <td>
              <% if event_volunteer.status == 0 %>
                  <a href="#show-audit-event-volunteer" class="btn btn-xs btn-danger open-audit-event-volunteer" data-name="<%= event_volunteer.username %>" data-type="<%= event_volunteer.event_type %>" data-id="<%= event_volunteer.id %>" data-toggle="modal">待审核</a>
              <% else %>
                  录用
              <% end %>
            </td>
            <td><%= link_to "/admin/event_volunteers/volunteer_detail/#{event_volunteer.user_id}", title: '查看', class: 'btn btn-xs btn-warn' do %>
                  <i class="icon-eye-open bigger-120"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <nav>
      <%= paginate @volunteers %>
    </nav>
    <div id="show-audit-event-volunteer" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header widget-header">
            <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
            <h4 class="blue smaller text-center">是否录用<span class="red" id="volunteer-username"></span></h4>
          </div>
          <div class="modal-body overflow-visible">
            <div class="row text-center select-review-status">
              <label class=""><input name="review-status" value="1" type="radio"/> 录用</label>&nbsp;&nbsp;
              <label class=""><input name="review-status" value="0" type="radio"/> 不录用</label>
            </div>
            <div id="volunteer-position-show" class="hide">
              <% if @volunteers.first.event_type == 'Competition' %>
                  <div id="event-list">
                    <select id="competition-event-id" class="col-sm-6">
                      <option value="">请选择项目</option>
                      <% events = Event.where(competition_id: @volunteers.first.type_id, is_father: false).select(:id, :name) %>
                      <% if events.present? %>
                          <% events.each do |event| %>
                              <option value="<%= event.id %>"><%= event.name %></option>
                          <% end %>
                      <% end %>
                    </select>
                  </div>
              <% end %>
              <div id="volunteer-position" class="center">
                <select id="competition-event-id">
                  <option>请选择职位</option>
                  <% if @volunteers.first.positions.present? %>
                      <% @volunteers.first.positions.each do |position| %>
                          <option value="<%= position %>"><%= position %></option>
                      <% end %>
                  <% end %>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="icon-remove"></i>
              取消
            </button>

            <button class="btn btn-sm btn-primary event-volunteer-status-submit">
              <i class="icon-ok"></i>
              提交
            </button>
          </div>

        </div>
      </div>

    </div>
<% else %>
    <div class="alert alert-primary">暂无志愿者报名</div>
<% end %>


