<ul class="nav nav-tabs" role="tablist">
  <li <%= 'class=active' if action_name == 'preview' %>>
    <a href="<%= user_preview_path %>"><span class="hidden-xs">信息</span>概览</a>
  </li>

  <li <%= 'class=active' if action_name == 'profile' %>>
    <a href="<%= user_profile_path %>"><span class="hidden-xs">个人</span>资料</a>
  </li>
  <li <%= 'class=active' if action_name == 'passwd' %>>
    <a href="<%= user_passwd_path %>"><span class="hidden-xs">修改</span>密码</a>
  </li>
  <% if current_user.mobile.present? %>
      <li <%= 'class=active' if action_name == 'reset_mobile' %>>
        <a href="<%= user_reset_mobile_path %>"><span class="hidden-xs">修改</span>手机</a>
      </li>
  <% else %>
      <li <%= 'class=active' if action_name == 'mobile' %>>
        <a href="<%= user_mobile_path %>"><span class="hidden-xs">添加</span>手机</a>
      </li>
  <% end %>
  <% if current_user.email.present? %>
      <li <%= 'class=active' if action_name == 'reset_email' %>>
        <a href="<%= user_reset_email_path %>"><span class="hidden-xs">修改</span>邮箱</a>
      </li>
  <% else %>
      <li <%= 'class=active' if action_name == 'email' %>>
        <a href="<%= user_email_path %>"><span class="hidden-xs">添加</span>邮箱</a>
      </li>
  <% end %>
  <li <%= 'class=active' if action_name == 'family_hacker' %>>
    <a href="<%= user_family_hacker_path %>"><span class="hidden-xs">家庭</span>创客</a>
  </li>


</ul>
<br>