<div class="sub-menu">
  <% if @action_preview_array.include?(action_name) %>
      <a href="<%= user_preview_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'preview' or action_name == 'profile' %>">
          基本信息
        </div>
      </a>
      <a href="<%= user_email_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'email' or action_name == 'reset_email' %>">
          邮箱信息
        </div>
      </a>
      <a href="<%= user_mobile_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'mobile' or action_name == 'reset_mobile' %>">
          手机信息
        </div>
      </a>
      <a href="<%= user_passwd_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'passwd' %>">
          修改密码
        </div>
      </a>
  <% end %>
  <% if action_name == 'notification' %>
      <a href="<%= user_notification_path %>">
        <div class="sub-menu-item active">
          我的消息
        </div>
      </a>
  <% end %>
  <% if action_name == 'notify_show' %>
      <a href="">
        <div class="sub-menu-item active">
          消息详情
        </div>
      </a>
  <% end %>
  <% if @action_apply_array.include?(action_name) %>
      <a href="<%= has_teacher_role ? user_programs_path : user_apply_path %>">
        <div class="sub-menu-item active">
          课程
        </div>
      </a>
  <% end %>
</div>