<div class="sub-menu">
  <% if @action_security.include?(action_name) %>
      <a href="<%= user_email_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'email' or action_name == 'reset_email' %>">
          邮箱信息
        </div>
      </a>
      <a href="<%= user_mobile_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'mobile' or action_name == 'reset_mobile' %>">
          手机信息
        </div>
      </a>
      <a href="<%= user_passwd_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'passwd' %>">
          修改密码
        </div>
      </a>
  <% end %>
  <% if action_name == 'notification' %>
      <a href="<%= user_notification_path %>">
        <div class="sub-menu-item active">
          我的消息
        </div>
      </a>
  <% end %>
  <% if action_name == 'notify_show' %>
      <a href="">
        <div class="sub-menu-item active">
          消息详情
        </div>
      </a>
  <% end %>
  <% if action_name=='apply' %>
      <a href="<%= has_teacher_role ? user_programs_path : user_apply_path %>">
        <div class="sub-menu-item <%= 'active' if !params[:type].present? %> ">
          课程
        </div>
      </a>

      <a href="<%= has_teacher_role ? user_programs_path : user_apply_path %>?type=competition">
        <div class="sub-menu-item <%= 'active' if params[:type]=='competition' %>">
          比赛
        </div>
      </a>
      <a href="<%= has_teacher_role ? user_programs_path : user_apply_path %>?type=activity">
        <div class="sub-menu-item <%= 'active' if params[:type]=='activity' %>">
          活动
        </div>
      </a>
  <% end %>
  <% if @action_student_manage.include?(action_name) %>
      <a href="<%= user_student_manage_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'student_manage' %> ">
          所有学生
        </div>
      </a>
      <a href="<%= user_comp_student_path %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'comp_student' %>">
          参赛学生
        </div>
      </a>
  <% end %>
  <% if @action_stu_info.include?(action_name) %>
      <% params_id = params[:id] %>
      <a href="<%= user_courses_path(:id => params_id) %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'courses' %> ">
          课程
        </div>
      </a>
      <a href="<%= user_competitions_path(:id => params_id) %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'competitions' %>">
          比赛
        </div>
      </a>
      <a href="<%= user_activities_path(:id => params_id) %>">
        <div class="sub-menu-item <%= 'active' if action_name == 'activities' %>">
          活动
        </div>
      </a>
  <% end %>
  <% if action_name == 'role_apply' || action_name == 'hacker_apply' %>

        <a href="<%= user_role_apply_path %>">
          <div class="sub-menu-item <%= 'active' if action_name == 'role_apply' %>">
            老师
          </div>
        </a>
        <a href="<%= user_hacker_apply_path %>">
          <div class="sub-menu-item <%= 'active' if action_name == 'hacker_apply' %>">
            创客
          </div>
        </a>
    <% end %>

</div>
