<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <div class="user-panel">
              <%= simple_form_for(@point, url: user_add_point_path, method: :post) do |f| %>
                  <div class="row">
                    <div class="col-xs-9">
                      <!--<select class="host-year">-->
                      <!--<option>请选择年份</option>-->
                      <!--<option value="2016">2016</option>-->
                      <!--<option value="2017">2017</option>-->
                      <!--</select>-->
                      <!--<select class="comp-name">-->
                      <!--<option>请选择比赛</option>-->
                      <!--</select>-->
                      <!--<select class="prize-type">-->
                      <!--<option>请选择奖项</option>-->
                      <!--</select>-->

                      <div class="form-inputs">
                        <input id="prize-id" class="string required form-control" type="text" name="user_point[prize_id]">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputFile">封面</label>
                        <%= f.file_field :cover %>
                        <%= f.hidden_field :cover_cache %>
                        <p class="help-block">格式：jpg jpeg gif png</p>
                      </div>
                      <br>


                      <div class="form-actions">
                        <%= f.submit class: 'btn btn-primary btn-block', value: '提交', 'data-disable-with' => '提交' %>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
