<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <% if !params[:type].present? %>
                <!--课程信息-->
                <% if @apply_info.size>0 %>
                    <table class="table">
                      <tr>
                        <th>课程名称</th>
                        <th>课程时间</th>
                        <th>操作</th>
                      </tr>
                      <% @apply_info.each do |a| %>
                          <tr>
                            <td><%= a.name %></td>
                            <td><%= a.end_time.strftime('%Y-%m-%d') %></td>
                            <td><%= link_to "#{user_cancel_apply_path}?t=1&identifier=#{a.course_id}", class: 'btn-robodou btn-abort-lesson' do %>
                                  取消报名
                              <% end %></td>
                          </tr>
                      <% end %>
                    </table>
                <% else %>
                    您暂时没有报名任何课程。
                <% end %>
            <% elsif params[:type]=='competition' %>
                <!--比赛信息-->
                <% if @apply_info.size>0 %>
                    <table class="table">
                      <tr>
                        <th>比赛名称</th>
                        <th>项目名称</th>
                        <th>比赛时间</th>
                        <th>下载</th>
                      </tr>
                      <% @apply_info.each do |a| %>
                          <tr>
                            <td><%= a.comp_name %></td>
                            <td><%= a.event_name %></td>
                            <td><%= a.start_time.strftime('%Y-%m-%d') %></td>
                            <td>
                              <% case a.team_status when 0 %>
                                  还未提交队伍
                              <% when 1 %>
                                  <a class="btn btn-xs btn-primary" href="/user/export_voucher?ed=<%= a.event_id %>">下载参赛证</a>
                              <% when 2, 3 %>
                                  待审核
                              <% when -2, -3 %>
                                  审核未通过
                              <% else %>
                                  未知
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                    </table>
                    <div style="display:none">
                      <div id="qrcodeCanvas"></div>
                      <div>
                        <%= image_tag('comp_voucher.jpeg', id: 'use-voucher') %>
                        <canvas id="myCanvas" width="1276" height="1789"></canvas>
                      </div>
                    </div>
                <% else %>
                    您暂时没有报名任何比赛
                <% end %>
            <% elsif params[:type]=='activity' %>
                <!--活动信息-->
                <table class="table">
                  <tr>
                    <th>活动名称</th>
                    <th>活动地点</th>
                    <th>活动时间</th>
                  </tr>
                  <% @apply_info.each do |a| %>
                      <tr>
                        <td><%= a.name %></td>
                        <td><%= a.host_address %></td>
                        <td><%= a.start_time.strftime('%Y-%m-%d') %></td>
                      </tr>
                  <% end %>
                </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
