<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <% if @user_events.present? %>
                <div class="match-panel">
                  <div class="panel-title">
                    即将开始
                  </div>
                  <% @user_events.each do |e| %>
                      <% if e.status!=2 %>
                          <div class="match-card" data-src="<%= image_path('homepage/card-bk.png') %>">
                            <div class="card-left">
                              <div class="card-avatar" data-q="<%= e %>">

                              </div>
                              <div class="card-download">
                                <button class="btn-robodou btn-match-download">下载</button>
                              </div>
                            </div>
                            <div class="card-right">
                              <div class="card-info">
                                <p>姓名：<%= current_user.username %></p>

                                <p>学校：<%= e.school %></p>

                                <p>年级：</p>

                                <p>学籍号：</p>

                                <p>参赛项目：<%= e.comp_name %>-<%= e.event_name %></p>

                                <p>指导老师：</p>

                                <p>指导老师电话：</p>
                              </div>
                            </div>
                          </div>
                      <% end %>
                  <% end %>
                </div>
                <div class="match-panel">
                  <div class="panel-title">
                    比赛结束
                  </div>
                  <% @user_events.each do |e| %>
                      <% if e.status==2 %>
                          <div class="match-card" data-src="<%= image_path('homepage/card-bk.png') %>">
                            <div class="card-left">
                              <div class="card-avatar">
                                <img src="" alt=""/>
                              </div>
                              <div class="card-download">
                                <button class="btn-robodou btn-match-download">下载</button>
                              </div>
                            </div>
                            <div class="card-right">
                              <div class="card-info">
                                <p>姓名：<%= current_user.username %></p>

                                <p>学校：<%= e.school %></p>

                                <p>年级：</p>

                                <p>学籍号：</p>

                                <p>参赛项目：<%= e.comp_name %>-<%= e.event_name %></p>

                                <p>指导老师：XXX</p>
                              </div>
                            </div>
                          </div>
                      <% end %>
                  <% end %>
                </div>
            <% else %>
                <h4 style="color: #fff;">您还没有参加过比赛</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
