<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container" id="user-notification">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <select id="select-competition">
              <option value="">请选择比赛</option>

              <% Competition.where(status: 1).select(:id, :name).each do |comp| %>
                  <option value="<%= comp.id %>"><%= comp.name %></option>
              <% end %>
            </select>
            <select id="select-event">
              <option value="">请选择项目</option>

            </select>
            <% if @teacher_info.present? %>
                <% if @teacher_info.role_type == 2 %>
                    区县老师--district_id: <%= @teacher_info.district_id %>
                <% end %>
            <% end %>
            <% if @competition.present? %>
                <p><%= @competition.name %></p>
                <p> 报名截止: <%= @competition.apply_end_time.strftime('%Y-%m-%d %H:%M') %></p>
                <p>学校截至: <%= @competition.school_audit_time.strftime('%Y-%m-%d %H:%M') %></p>
                <p> 区县截止: <%= @competition.district_audit_time.strftime('%Y-%m-%d %H:%M') %></p>
            <% end %>

            <% if @students.present? %>
                <table class="table">
                  <thead>
                  <th>项目</th>
                  <th>队伍</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>年级</th>
                  <th>操作</th>
                  </thead>
                  <tbody>
                  <% @students.each do |s| %>
                      <tr>
                        <td><%= s.event_name %></td>
                        <td>
                          <% if s.leader_user_id == s.user_id %>
                              <%= s.identifier %>
                          <% end %>
                        </td>
                        <td><%= s.username %></td>
                        <td><%= (s.gender.present? && s.gender==1) ? '男' : '女' %></td>
                        <td><%= s.grade %></td>
                        <td>
                          <a href="<%= "/#{s.nickname}" %>">查看详情</a> &nbsp;&nbsp;&nbsp;&nbsp;
                          <% if s.leader_user_id == s.user_id %>
                              <button class="btn btn-xs btn-info">拒绝参加</button>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>

                  </tbody>
                </table>
                <nav>
                  <%= paginate @students %>
                </nav>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


