<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container" id="comp-stu">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <div class="top">
              <% if @teacher_info.present? %>
                  <% if @teacher_info.role_type>=2 %>
                      <div class="teacher-info">
                        <div>
                          您的身份：
                        </div>
                        <div data-role="<%= @teacher_info.role_type %>" class="label <%= @teacher_info.role_type==2 ? 'label-warning' : 'label-info' %>"><%= @teacher_info.role_type==2 ? '区级审核老师' : '校级审核老师' %></div>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <div class="middle">
              <select id="select-competition" class="comp-sel">
                <option value="0">请选择比赛</option>

                <% @competitions.each do |comp| %>
                    <option value="<%= comp.id %>"><%= comp.name %></option>
                <% end %>
              </select>
              <select id="select-event" class="event-sel">
                <option value="0">请选择项目</option>

              </select>
              <select id="select-status" class="status-sel">
                <option value="100">待审核</option>
                <option value="0">未通过</option>
                <option value="1">审核通过</option>
              </select>
            </div>
            <div class="middle">
              <div class="comp-info">
              </div>
            </div>
            <div class="middle">
              <h4>队伍列表：</h4>

              <div class="team-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


