<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content custom-help-error">
            <h3><%= @course.name %></h3>


            <div class="course-score-attrs-list">
              <% if @course.course_score_attributes.present? %>
                  <% @course.course_score_attributes.each do |cs| %>
                      <div class="label label-primary">
                        <span>类型：<%= cs.name %>&nbsp;&nbsp;&nbsp;</span>
                        <span>分数：<%= cs.score_per %></span>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <%= link_to '新增评分标准', "#{new_course_score_attr_path}?cd=#{@course.id}", remote: true, class: 'btn-robodou' %>
            <hr>


            <% if @course_files.present? %>
                <h3>已添加的课件</h3>
                <% @course_files.each_with_index do |cf, i| %>
                    <a href="<%= cf.course_ware %>">
                      课件<%= i+1 %>
                    </a>
                <% end %>
                <hr/>
            <% end %>

            <%= simple_form_for(@course_file, html: {}, url: user_course_ware_path, method: :post) do |f| %>
                <h3 class="title">
                  添加新的课件
                </h3>

                <div class="form-group">
                  <%= f.file_field :course_ware, class: 'hide' %>

                  <label class="btn-robodou" for="course_file_course_ware">请选择文件</label>

                  <p>格式:ppt doc docx xls xlsx zip rar htm html txt gz bz2</p>
                  <%= f.hidden_field :course_id, value: @course_file.course_id %>
                </div>
                <div class="form-actions">
                  <%= f.submit class: 'btn btn-info', value: '上传', 'data-disable-with' => '上传' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


