<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 hidden-xs">
      <%= render 'user/menu' %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h1 class="page-header">
        我的账户
      </h1>

      <%= render 'user/tab' %>
      <div class="panel panel-default">
        <div class="panel-body">
          <% if current_user.mobile.present? %>
              已认证的手机: <%= current_user.mobile %>
              <a href="#" class="btn btn-xs btn-info show-update-mobile">更换手机</a>
          <% else %>
              <%= simple_form_for(current_user, html: {}, url: user_mobile_path, method: :post) do |f| %>
                  <div class="row">
                    <div class="col-xs-6">

                      <div class="form-group">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="row">
                              <div class="col-xs-7">
                                <div class="form-group string">
                                  <%= rucaptcha_input_tag(class: 'form-control ', placeholder: '请输入校验码') %>
                                </div>
                              </div>
                              <div class="col-xs-5">
                                <span class="refresh-captcha">
                                  <%= rucaptcha_image_tag(alt: '校验码', id: 'rucaptcha-image-style') %>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="input-group form-group optional user_mobile">
                        <input id="user_add_mobile" class="string  optional form-control" type="text" placeholder="请输入要添加的手机" name="user[mobile_info]" value="<%= current_user.mobile_info %>">
                        <span class="input-group-addon btn btn-default" data-key="user_add" data-type="ADD_MOBILE" id="btn_send_mobile_code">发送验证码</span>
                      </div>
                      <div class="form-inputs">
                        <input id="email_code" class="string email required form-control" placeholder="请输入手机收到的验证码" type="text" name="user[email_code]" value="<%= current_user.email_code %>">
                      </div>
                      <br>

                      <div class="form-actions">
                        <%= f.submit class: 'btn btn-primary btn-block', value: '添加手机', 'data-disable-with' => '添加手机' %>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

