<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <div class="user-panel">
              <% if current_user.mobile.present? %>
                  已认证的手机: <%= current_user.mobile %>
                  <a href="#" class="btn btn-xs btn-info show-update-mobile">更换手机</a>
              <% else %>
                  <%= simple_form_for(current_user, html: {}, url: user_mobile_path, method: :post) do |f| %>
                      <div class="row">
                        <div class="col-xs-9">
                          <div class="input-group form-group mobile_info optional user_mobile">
                            <input id="user_mobile" class="mobile-value string mobile_info optional form-control" type="text" placeholder="请输入要添加的手机" name="user[mobile_info]" value="<%= current_user.mobile_info %>">
                            <span class="input-group-addon btn btn-default user-add-mobile" id="basic-addon2">发送验证码</span>
                          </div>
                          <div class="form-inputs">
                            <input id="email_code" class="string email required form-control" placeholder="请输入手机收到的验证码" type="text" name="[email_code]">
                          </div>
                          <br>

                          <div class="form-actions">
                            <%= f.submit class: 'btn btn-primary btn-block', value: '添加手机', 'data-disable-with' => '添加手机' %>
                          </div>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
