<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <%= simple_form_for(current_user, html: {id: 'form_change_password'}, url: user_passwd_path, method: :post) do |f| %>
                <div class="row">
                  <div class="col-xs-7">
                    <div class="form-group password optional user_old_password">
                      <label class="password optional control-label" for="user_old_password">原密码</label>
                      <input id="user_old_password" class="password optional form-control" type="password" name="user[old_password]" placeholder="请输入您当前的密码">
                    </div>
                    <%= f.input :new_password, placeholder: '请输入您的新密码' %>
                    <%= f.input :password_confirmation, placeholder: '请再次输入新密码' %>
                    <%= f.submit class: 'btn btn-primary', value: '修改密码', 'data-disable-with' => '修改密码' %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


