<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <div class="point">
              <div class="point-total" data-src="<%= image_path('homepage/point-total.png') %>">
                <div class="s-t">
                  <a href="<%= user_add_point_path %>" class="btn-robodou btn-point">添 加</a>
                </div>
                <div class="s-c">
                  <p>当前我的总积分：</p>

                  <p class="strong">0</p>

                  <p>待审核积分：0</p>
                </div>
              </div>
              <div class="point-table">
                <button class="btn-robodou btn-point-select">2015年</button>
                <table border>
                  <thead>
                  <tr>
                    <th>项 目</th>
                    <th>积 分</th>
                    <th>状 态</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @user_points.present? %>
                      <% @user_points.each do |p| %>
                          <tr>
                            <td><%= p.name %></td>
                            <td><%= p.point %></td>
                            <td><%= p.is_audit ? '已确认' : '待审核' %></td>
                          </tr>
                      <% end %>
                  <% else %>
                      <tr>
                        <td colspan="3">暂无记录</td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
