<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <p>昵称：<%= current_user.nickname %></p>

            <p>
              <% if current_user.mobile.present? %>
                  手机：<%= current_user.mobile %> <a href="<%= user_reset_mobile_path %>">修改</a>
              <% else %>
                  <a href="<%= user_mobile_path %>">添加手机</a>
              <% end %>
            </p>

            <p>
              <% if current_user.email.present? %>
                  邮箱：<%= current_user.email %> <a href="<%= user_reset_email_path %>">修改</a>
              <% else %>
                  <a href="<%= user_email_path %>">添加邮箱</a>
              <% end %>
            </p>
            <% if @user_info.present? %>
                <p>姓名：<%= @user_info.name %></p>

                <p>性别：
                  <% if @user_info.gender == 1 %>男
                  <% elsif @user_info.gender == 2 %>女
                  <% else %>
                  <% end %>
                </p>

                <p>
                  年级：
                  <% if @user_info.grade.present? %>
                      <%= @user_info.grade %>
                  <% else %>
                      无
                  <% end %>
                </p>
                <p>
                  班级：
                  <% if @user_info.bj.present? %>
                      <%= @user_info.bj %>
                  <% else %>
                      无
                  <% end %>
                </p>


                <p>生日：<%= @user_info.birthday %></p>

                <p>地址：<%= @user_info.address %></p>
            <% end %>
            <a class="btn-robodou profile-path" href="<%= user_profile_path %>">编辑个人信息</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


