<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <div class="user-panel">
              <div class="user-row">
                <span class="row-name">邮箱</span>
                <% if current_user.email.present? %>
                    <span class="row-content edit-input" data-input="text"><%= current_user.email %></span>
                    <span class="row-tip pull-right"><a href="<%= user_reset_email_path %>">修改</a></span>
                <% else %>
                    <span class="row-tip pull-right"><a href="<%= user_email_path %>">添加</a></span>
                <% end %>
              </div>
              <hr>
              <div class="user-row">
                <span class="row-name">手机</span>
                <% if current_user.mobile.present? %>
                    <span class="row-content edit-input" data-input="text"><%= current_user.mobile %></span>
                    <span class="row-tip pull-right"><a href="<%= user_reset_mobile_path %>">修改</a></span>
                <% else %>
                    <span class="row-tip pull-right"><a href="<%= user_mobile_path %>">添加</a></span>
                <% end %>
              </div>
              <hr>
              <div class="user-row">
                <span class="row-name">登录密码</span>
                <span class="row-content edit-input" data-input="text">建议您定期更改密码</span>
                <span class="row-tip pull-right"><a href="<%= user_passwd_path %>">修改</a></span>
              </div>
            </div>
            <div class="user-panel">
              <div class="user-row">
                <span class="row-name">真实姓名</span>
                <span class="row-content edit-input" data-input="text"><%= current_user.username %></span>
              </div>
              <div class="user-row">
                <span class="row-name">身份</span>
                <span class="row-content edit-checkbox" data-input="text">
                  <%= current_user.user_profile.try(:roles) %>
                </span>
              </div>
              <div class="user-row">
                <span class="row-name">性别</span>
                <% if current_user.gender == 1 %>
                    <span class="row-content edit-radio" data-input="radio" data-input-name="">男</span>
                <% else current_user.gender == 2%>
                    <span class="row-content edit-radio" data-input="radio" data-input-name="">女</span>
                <% end %>
              </div>
              <div class="user-row">
                <span class="row-name">学校</span>
                <span class="row-content edit-input" data-input="text">
<%= current_user.user_profile.school.try(:name) %>
                </span>
              </div>
              <div class="user-row">
                <span class="row-name">班级</span>
                <span class="row-content edit-input" data-input="text">
                  <%= current_user.user_profile.try(:grade) %>年级<%= current_user.user_profile.try(:bj) %>班
                </span>
              </div>
              <div class="panel-control control-top">
                <a href="<%= user_profile_path %>">编 辑</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


