<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="user-center" class="user-center" data-src="<%= image_path('homepage/user-center-bk.png') %>">
        <div class="sec-t">
          <%= render 'user/menu' %>
        </div>
        <div class="sec-c">
          <div class="content">
            <div class="user-panel">
              <%= simple_form_for(@user_profile, html: {id: 'form_change_profile', multipart: true}, url: user_profile_path, method: :post) do |f| %>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-inputs">
                        <%= f.input :username %>
                        <div class="form-group string optional user_profile_roles">
                          <label class="string optional control-label" for="user_profile_roles">身份</label>
                          <br>
                          <%= label_tag '学生' %>
                          <% Role.all.each do |r| %>
                              <% if r.name=='教师' && @th_role_status.present? %>
                                  <%= label_tag '老师' %> <%= "(待审核)" if @th_role_status.status.blank? %>
                              <% else %>
                                  <%= check_box_tag 'user_profile[roles][]', r.name, (true if @user_profile.roles.present? && @user_profile.roles.split(',').include?(r.name.to_s)) %>
                                  <%= label_tag r.name %>
                              <% end %>
                          <% end %>
                        </div>
                        <%= f.input :school %>
                        <!--<%= f.input :teacher_no %>-->
                        <!--<div>-->
                          <!--<% if @user_profile.certificate.present? %>-->
                              <!--<%= image_tag(current_user.user_profile.certificate_url(:middle)) %>-->
                          <!--<% end %>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                          <!--<label for="user_avatar">上传教师证</label>-->
                          <!--<%= f.file_field :certificate %>-->
                          <!--<p class="help-block">格式：jpg jpeg gif png</p>-->
                        <!--</div>-->
                        <input name="user_profile[gender]" type="radio" <%= 'checked' if @user_profile.gender==1 %> value="1"/>
                        <label>男</label>
                        <input name="user_profile[gender]" type="radio" <%= 'checked' if @user_profile.gender==2 %> value="2"/>
                        <label>女</label>
                        <%= f.input :grade %>
                        <%= f.input :bj %>
                        <%= f.input :address %>
                      </div>
                      <div class="form-actions">
                        <%= f.submit class: 'btn-robodou btn-submit-profile', value: '更新详细信息', 'data-disable-with' => '更新详细信息' %>
                      </div>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
