<div id="main" class="main">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <div class="sub-header">基本信息</div>
            <%= simple_form_for(@user_profile, html: {id: 'user-profile-form', class:"form-horizontal", multipart: true}, url: user_profile_path, method: :post,wrapper: :horizontal_form) do |f| %>

                  <%= f.input :username, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :gender, label_html: { class: 'col-sm-2' }, as: :radio_buttons, :collection => [ ['男', '1'], ['女', '2'] ], :checked => @user_profile.gender, :item_wrapper_class => 'radio-inline' %>

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="user_profile[district_id]">区县</label>
                    <input type="hidden" class="district_input" name="user_profile[district_id]" value="<%= @user_profile.district_id %>"/>
                    <span class="col-sm-9"><a href="#select-district-modal" role="button" class="select-user-district" data-toggle="modal"><%= @user_profile.district_id.present? ? "#{@user_profile.district.try(:province_name)}--#{@user_profile.district.try(:city_name)}--#{@user_profile.district.try(:name)}" : '选择区县' %></a></span>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="user_profile[school_id]">学校</label>
                    <input type="hidden" class="school_input" name="user_profile[school_id]" value="<%= @user_profile.try(:school_id) %>"/>
                    <input type="hidden" id="change_district_id" value="<%= @user_profile.try(:district_id) %>"/>
                    <span class="col-sm-9"><a class="school-tag"><%= @user_profile.school_id.present? ? @user_profile.school.try(:name) : '选择学校' %></a></span>
                  </div>

                  <%= f.input :grade, label_html: { class: 'col-sm-2' }, as: :select, :include_blank => false,
                   :collection => [ ['一年级', '1'], ['二年级', '2'], ['三年级', '3'], ['四年级', '4'], ['五年级', '5'], ['六年级（初中预备）', '6'], ['七年级（初中一年级）', '7'], ['八年级（初中二年级）', '8'], ['九年级（初中三年级）', '9'], ['高中一年级','10'], ['高中二年级','11'], ['高中三年级','12'] ],
                    :checked => @user_profile.try(:grade)
                  %>
                  <%= f.input :bj, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :birthday, as: :string, label_html: { class: 'col-sm-2' }%>
                  <%= f.input :student_code, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :identity_card, label_html: { class: 'col-sm-2' } %>
                  <%= f.submit class: 'btn-robodou col-sm-offset-1', value: '更新详细信息', 'data-disable-with' => '更新详细信息' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "user/school_district_modal" %>
