<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <div class="sub-header">基本信息</div>
            <%= simple_form_for(@user_profile, html: {id: 'form_change_profile', class:"form-horizontal", multipart: true}, url: user_profile_path, method: :post,wrapper: :horizontal_form) do |f| %>
                <div class="form-inputs">
                  <%= f.input :username, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :gender, label_html: { class: 'col-sm-2' }, as: :radio_buttons, :collection => [ ['男', '1'], ['女', '2'] ], :checked => @user_profile.gender, :item_wrapper_class => 'radio-inline' %>

                  <!-- <div class="form-group string optional user_profile_roles">
                    <label class="string optional control-label" for="user_profile_roles">身份</label>

                    <div class="">
                      <% Role.all.each do |r| %>
                          <% @status = false %>
                          <% @has_roles.each do |h| %>
                              <% if r.id==h[0] %>
                                  <% @status = true %>
                                  <%= label_tag r.name %> <%= "(待审核)" if h[1]==0 %>
                              <% end %>
                          <% end %>
                          <% unless @status %>
                              <label class="fieldset-label">
                                <%= check_box_tag 'user_profile[roles][]', r.name %>
                                <%= r.name %>
                              </label>
                          <% end %>
                      <% end %>
                    </div>
                  </div> -->
                  <!-- <fieldset class="teacher-part hide">
                    <legend>教师认证信息</legend>
                    <div class="form-group">
                      <%= f.input :teacher_no %>
                    </div>
                    <div class="form-group">
                      <label for="user_avatar">上传教师证</label>
                      <%= f.file_field :certificate %>
                    </div>
                  </fieldset>
                  <fieldset class="ck-part hide">
                    <legend>家庭创客认证信息</legend>
                    <div class="form-group">
                      <label for="user_avatar">上传图片</label>
                      <%= f.file_field :cover %>
                    </div>
                    <%= f.input :desc, as: :text %>
                  </fieldset> -->

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="user_profile_school_id">学校</label>

                    <div class="school-field">
                      <% if @user_profile.school_id.present? && @user_profile.school_id!=0 %>
                          <span class="change-school school-tag"><%= @user_profile.school.try(:name) %> </span>
                      <% else %>
                          <button class="new-school btn-robodou">选择学校</button>
                      <% end %>

                    </div>
                    <input id="school-id" class="school-hidden-input" type="hidden" name="user_profile[school_id]" value="<%= @user_profile.school_id %>"/>
                    <input id="district-id" type="hidden" name="user_profile[district_id]" value="<%= @user_profile.district_id %>"/>
                  </div>
                  <%= f.input :grade, label_html: { class: 'col-sm-2' }, as: :select, :include_blank => false,
                   :collection => [ ['一年级', '1'], ['二年级', '2'], ['三年级', '3'], ['四年级', '4'], ['五年级', '5'], ['六年级（初中预备）', '6'], ['七年级（初中一年级）', '7'], ['八年级（初中二年级）', '8'], ['九年级（初中三年级）', '9'], ['高中一年级','10'], ['高中二年级','11'], ['高中三年级','12'] ],
                    :checked => @user_profile.grade
                  %>
                  <%= f.input :bj, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year , label_html: { class: 'col-sm-2' }, input_html: { class: 'col-sm-9' } %>
                  <!-- <div class="form-group">
                    <label class="control-label" for="user_profile_birthday">生日</label>
                    <input name="user_profile[birthday]" class="form-control" id="user_profile_birthday" type="text" value="<%= @user_profile.birthday %>"/>
                  </div> -->

                  <%= f.input :student_code, label_html: { class: 'col-sm-2' } %>
                  <%= f.input :identity_card, label_html: { class: 'col-sm-2' } %>
                </div>
                <div class="form-actions">
                  <%= f.submit class: 'btn-robodou', value: '更新详细信息', 'data-disable-with' => '更新详细信息' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="school-modal">
  <div class="school-modal-inner">
    <div class="title">
      选择学校
    </div>
    <div class="content">
      <div class="screening">
        <label for="selected-dis">区县</label>
        <select name="district" id="district-select">

        </select>
      </div>
      <div class="school-list">
      </div>
    </div>
  </div>
</div>
