<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">
            <% if current_user.present? && current_user.mobile.present? %>
                当前手机: <%= current_user.mobile %>
                <hr>
                <%= simple_form_for(current_user, url: user_reset_mobile_path, method: :post) do |f| %>
                    <div class="row">
                      <div class="col-xs-6">

                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="row">
                                <div class="col-xs-7">
                                  <div class="form-group string">
                                    <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
                                  </div>
                                </div>
                                <div class="col-xs-5">
                            <span class="refresh-captcha">
                              <%= rucaptcha_image_tag(alt: 'rucaptcha', id: 'rucaptcha-image-style') %>
                            </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="input-group form-group mobile_info optional">
                          <input id="user-reset_mobile" class="string optional form-control" type="text" placeholder="请输入要添加的手机" name="mobile_info" value="<%= current_user.mobile_info %>">
                          <span class="input-group-addon btn-robodou-fix" data-key="user-reset" data-type="RESET_MOBILE" id="btn_send_mobile_code">发送验证码</span>
                        </div>
                        <div class="form-inputs">
                          <input id="email_code" class="string required form-control" placeholder="请输入手机收到的验证码" type="text" name="email_code" value="<%= current_user.email_code %>">
                        </div>
                        <br>

                        <div class="form-inputs">
                          <input id="password" class="string password required form-control" placeholder="请输入账号密码" type="text" name="password">
                        </div>
                        <br>


                        <div class="form-actions">
                          <%= f.submit class: 'btn-robodou btn-block', value: '提交', 'data-disable-with' => '提交' %>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% else %>
                您还没有认证手机，无法重置手机！<a href="<%= user_mobile_path %>">去认证</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>


