<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container" id="user-notification">
    <div class="row">
      <div class="user-center">
        <div class="main-title">
          个人中心
        </div>
        <%= render 'user/menu' %>
        <div class="user-main">
          <%= render 'user/tab' %>
          <div class="sub-content">

            <% if @teacher_info.present? %>
                <% if @teacher_info.role_type == 2 %>
                    区县老师
                <% end %>
            <% end %>
            <% if @students.present? %>
                <table class="table">
                  <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>区县</th>
                    <th>学校</th>
                    <th>学籍号</th>
                    <th>操作</th>
                  </tr>
                  <% @students.each do |s| %>
                      <tr>
                        <td><%= s.username %></td>
                        <td><%= s.gender %></td>
                        <td><%= s.district_name %></td>
                        <td><%= s.school_name %></td>
                        <td><%= s.student_code %></td>
                        <td><a href="<%= "/user/competitions?id=#{s.id}" %>">查看详情</a></td>
                      </tr>
                  <% end %>
                </table>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


