<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="user-display" class="">
        <div class="sec-t">
          <div class="photo active" data-src="<%= image_path('homepage/photo.png') %>"></div>
          <div class="video" data-src="<%= image_path('homepage/video-active.png') %>"></div>
        </div>
        <div class="sec-c">
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
          <div class="col-sm-4 col-xs-12 text-center">
            <div class="video-item" data-src="<%= image_path('homepage/photo-border.png') %>">
              <a href=""><img data-src="<%= image_path('homepage/photo-item.png') %>" src="" alt=""/></a>
            </div>
            <p class="video-title">2016 机械奥运</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
