<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.activity') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @activity]) do |f| %>
        <%= f.error_notification %>
        <% if @activity.errors.any? %>
            <div id="error_explanation">
              <% @activity.errors[:organizer_units].each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
              <% end %>
              <% @activity.errors[:apply_start_time].each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
              <% end %>
              <% @activity.errors[:start_time].each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
              <% end %>
              <% @activity.errors[:end_time].each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
              <% end %>
            </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :host_year, collection: 2016..2017 %>
          <label class="select required control-label" for="news_content"><abbr title="必填字段">*</abbr>内容:</label>
          <%= f.kindeditor :content, :window_onload => true, :owner_id => @activity.id, :items => ['formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'insertfile', 'baidumap', 'link', 'unlink', 'quickformat', 'preview', 'fullscreen'] %>
          <%= f.input :host_address %>
          <div class="row">
            <div class="form-group datetime optional col-md-6 required" data-date-merge>
              <label class="datetime optional control-label">报名开始时间</label>

              <div class="row">
                <div class="col-md-6">
                  <span>日期</span>
                  <input data-date-merge-date value="<%= @activity.apply_start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-6 bootstrap-timepicker">
                  <span>时间</span>
                  <input data-date-merge-time value="<%= @activity.apply_start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
                </div>
              </div>
              <input data-date-merge-result type="hidden" name="competition[apply_start_time]" value="<%= @activity.apply_start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
            </div>
            <div class="form-group datetime optional col-md-6" data-date-merge>
              <label class="datetime optional control-label">报名结束时间</label>

              <div class="row">
                <div class="col-md-6">
                  <span>日期</span>
                  <input data-date-merge-date value="<%= @activity.apply_end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-6 bootstrap-timepicker">
                  <span>时间</span>
                  <input data-date-merge-time value="<%= @activity.apply_end_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
                </div>
              </div>
              <input data-date-merge-result type="hidden" name="competition[apply_end_time]" value="<%= @activity.apply_end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
            </div>
            <div class="form-group datetime optional col-md-6" data-date-merge>
              <label class="datetime optional control-label">活动开始时间</label>

              <div class="row">
                <div class="col-md-6">
                  <span>日期</span>
                  <input data-date-merge-date value="<%= @activity.start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-6 bootstrap-timepicker">
                  <span>时间</span>
                  <input data-date-merge-time value="<%= @activity.start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
                </div>
              </div>
              <input data-date-merge-result type="hidden" name="competition[start_time]" value="<%= @activity.start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
            </div>
            <div class="form-group datetime optional col-md-6" data-date-merge>
              <label class="datetime optional control-label">活动结束时间</label>

              <div class="row">
                <div class="col-md-6">
                  <span>日期</span>
                  <input data-date-merge-date value="<%= @activity.end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
                </div>
                <div class="col-md-6 bootstrap-timepicker">
                  <span>时间</span>
                  <input data-date-merge-time value="<%= @activity.end_time.try(:strftime, '%H:%M:%S') %>" data-control="timeForm" class="datetime optional form-control"/>
                </div>
              </div>
              <input data-date-merge-result type="hidden" name="competition[end_time]" value="<%= @activity.end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>