<h1 class="page-header">
  显示<%= t('activerecord.models.activity') %>
  <small class="pull-right">
    <a href="<%= edit_admin_activity_path(@activity) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_activities_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= t('activerecord.models.activity') %>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.name') %>:</h4>

      <%= @activity.name %>
    </li>
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.host_year') %>:</h4>

      <%= @activity.host_year %>
    </li>
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.host_address') %>:</h4>

      <%= @activity.host_address %>
    </li>
    <li class="list-group-item">
      <h4>海报:</h4>
      <%= image_tag(@activity.cover_url(:middle), class: 'img-thumbnail') %>
    </li>
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.content') %>:</h4>

      <%= @activity.content.html_safe %>
    </li>
    <li class="list-group-item">
      <h4>报名起始时间:</h4>

      <p><%= @activity.apply_start_time.try(:strftime, '%Y-%m-%d %H:%M') %>
        － <%= @activity.apply_end_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>
    </li>

    <li class="list-group-item">
      <h4>活动起始时间:</h4>

      <p><%= @activity.start_time.try(:strftime, '%Y-%m-%d %H:%M') %>
        － <%= @activity.end_time.try(:strftime, '%Y-%m-%d %H:%M') %></p>
    </li>

    <li class="list-group-item">
      <h4>创建时间－更新时间:</h4>

      <p><%= @activity.created_at.try(:strftime, '%Y-%m-%d %H:%M') %>
        － <%= @activity.updated_at.try(:strftime, '%Y-%m-%d %H:%M') %></p>
    </li>

  </ul>
</div>