<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="apply-show">
        <div class="apply-lessons">
          <div class="title">
            请确认报名课程
          </div>
          <div class="content" data-lesson-cookie="true">

          </div>
        </div>
        <div class="apply-info">
          <div class="title">
            请确认报名信息
          </div>
          <form action="" method="post" id="apply-lesson-form">
            <div class="input-box">
              <div class="input-row">
                <div class="left">
                  姓名
                </div>
                <div class="right">
                  <input id="user-info-username" class="input-robodou" type="text" value="<%= @user_info.username %>"/>
                </div>
              </div>
              <div class="input-row">
                <div class="left">
                  学校
                </div>
                <div class="right">
                  <div class="little-panels school-field">
                    <% if @user_info.school_id.present? %>
                        <span class="change-school school-tag"><%= @user_info.school_name %> </span>
                    <% else %>
                        <button class="new-school btn-robodou">选择学校</button>
                    <% end %>
                    <input type="hidden" id="district-id" value="<%= @user_info.district_id %>"/>
                    <input type="hidden" id="school-id" value="<%= @user_info.school_id %>"/>
                  </div>
                  <span class="special-tips">注意！幼儿园学生请<a class="add-school ">点击这里</a>填写学校</span>
                </div>
              </div>
              <div class="input-row">
                <div class="left">
                  年级
                </div>
                <div class="right">
                  <select name="user-info-grade" id="user-info-grade">
                    <option value="0">请选择年级</option>
                    <option value="1" <%= 'selected="selected"' if @user_info.grade.to_i == 1 %>>一年级</option>
                    <option value="2" <%= 'selected="selected"' if @user_info.grade.to_i == 2 %>>二年级</option>
                    <option value="3" <%= 'selected="selected"' if @user_info.grade.to_i == 3 %>>三年级</option>
                    <option value="4" <%= 'selected="selected"' if @user_info.grade.to_i == 4 %>>四年级</option>
                    <option value="5" <%= 'selected="selected"' if @user_info.grade.to_i == 5 %>>五年级</option>
                    <option value="6" <%= 'selected="selected"' if @user_info.grade.to_i == 6 %>>六年级（初中预备）</option>
                    <option value="7" <%= 'selected="selected"' if @user_info.grade.to_i == 7 %>>七年级（初中一年级）</option>
                    <option value="8" <%= 'selected="selected"' if @user_info.grade.to_i == 8 %>>八年级（初中二年级）</option>
                    <option value="9" <%= 'selected="selected"' if @user_info.grade.to_i == 9 %>>九年级（初中三年级）</option>
                    <option value="10" <%= 'selected="selected"' if @user_info.grade.to_i == 10 %>>高中一年级</option>
                    <option value="11" <%= 'selected="selected"' if @user_info.grade.to_i == 11 %>>高中二年级</option>
                    <option value="12" <%= 'selected="selected"' if @user_info.grade.to_i == 12 %>>高中三年级</option>
                  </select>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="apply-action">
          <hr/>
          <button class="btn-robodou btn-big btn-confirm-apply">确认报名</button>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="school-modal">
  <div class="school-modal-inner">
    <div class="title">
      选择学校
    </div>
    <div class="content">
      <div class="screening">
        <label for="selected-dis">区县</label>
        <select name="district" id="district-select">

        </select>
      </div>
      <div class="school-list">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-school">
      <div class="school-modal-inner">
    <div class="title">
      添加学校
    </div>
    <div class="content">
      <label for="add-school-input">学校名称：</label>
      <input id="add-school-input" class="input-robodou" placeholder="请填写学校全称！" type="text"/>
    </div>
    <div class="bottom">
      <button class="btn-robodou btn-add-school">确定添加</button>
    </div>
  </div>
</div>
