<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="lesson">
        <% if @courses.size>0 %>
            <div class="lesson-screening">

            </div>
            <div class="lesson-list">
              <% @courses.each do |c| %>
                  <div class="lesson-item">
                    <div class="title">
                      <%= c.name %>
                    </div>
                    <p>招募人数：<%= c.num %> </p>

                    <p>剩余名额：<%= c.num-c.apply_count %></p>
                    <a href="<%= "/courses/#{c.id}" %>" class="pull-right btn-robodou show-lesson">查看详情</a>
                  </div>
              <% end %>
            </div>
        <% else %>
            <h3>暂无课程信息</h3>
        <% end %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
