<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="lesson-show">
        <div class="title" data-id="<%= @course.id %>">
          <%= @course.name %>
        </div>
        <div class="content">
          <p>对象：<%= @course.target %></p>

          <p class="already_time">报名时间：<%= @course.apply_start_time.strftime('%Y-%m-%d') %>
            -- <%= @course.apply_end_time.strftime('%Y-%m-%d') %></p>

          <p>开课时间：<%= @course.start_time.strftime('%Y-%m-%d') %> -- <%= @course.end_time.strftime('%Y-%m-%d') %></p>

          <p>上课时间：<%= @course.run_time %></p>

          <p>上课地点：<%= @course.run_address %></p>

          <p>招募人数：<%= @course.num %></p>

          <p class="already_num">已报名人数：<%= @course.already_num %></p>

          <input type="hidden" id="apply-course" value="<%= @course.id %>">
          <% if @has_apply %>
              <span class="label label-info">您已报名</span>
          <% else %>
              <% if @course.apply_end_time < Time.now %>
                  <span class="label label-warning">报名结束</span>
              <% else %>
                  <% if current_user %>
                      <button type="button" class="btn-robodou go-apply">我要报名</button>
                  <% else %>
                      <a class="btn-robodou" href="<%= "/account/sign_in?return_url=#{url_encode(request.fullpath)}" %>">我要报名</a>
                  <% end %>
              <% end %>
          <% end %>
          <% if current_user.present? %>
              <div class="apply">
                <form>
                  <div class="input-row">
                    <label for="user-info-username" class=""><i class="glyphicon glyphicon-user"></i> 姓名:</label>
                    <input type="text" class="" id="user-info-username" value="<%= @user_info.username %>">
                  </div>
                  <div class="input-row">
                    <label for="user-info-district" class=""><i class="glyphicon glyphicon-globe"></i> 区县:</label>
                    <select id="district-select" class="">
                      <option>请选择区县</option>
                      <% District.all.each do |d| %>
                          <option value="<%= d.id %>" <%= 'selected="selected"' if @user_info.district_id == d.id %>><%= d.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <input type="hidden" id="user-info-district" value="<%= @user_info.district_id %>">
                  <input type="hidden" id="user-info-school" value="<%= @user_info.school_id %>">

                  <div class="input-row">
                    <label for="user-info-school" class="control-label"><i class="glyphicon glyphicon-education"></i>
                      学校:</label>
                    <% if @user_info.school_id %>
                        <button class="choice-school btn-robodou">更改学校</button>
                        <span class="selected-school"><%= @user_info.school_name %></span>
                    <% else %>
                        <button class="choice-school btn-robodou">选择学校</button>
                    <% end %>
                  </div>
                  <div class="input-row">
                    <label for="user-info-grade" class="control-label"><i class="glyphicon glyphicon-registration-mark"></i>
                      年级:</label>
                    <select name="user-info-grade" id="user-info-grade">
                      <option value="0">请选择年级</option>
                      <option value="1" <%= 'selected="selected"' if @user_info.grade.to_i == 1 %>>一年级</option>
                      <option value="2" <%= 'selected="selected"' if @user_info.grade.to_i == 2 %>>二年级</option>
                      <option value="3" <%= 'selected="selected"' if @user_info.grade.to_i == 3 %>>三年级</option>
                      <option value="4" <%= 'selected="selected"' if @user_info.grade.to_i == 4 %>>四年级</option>
                      <option value="5" <%= 'selected="selected"' if @user_info.grade.to_i == 5 %>>五年级</option>
                      <option value="6" <%= 'selected="selected"' if @user_info.grade.to_i == 6 %>>六年级（初中预备）</option>
                      <option value="7" <%= 'selected="selected"' if @user_info.grade.to_i == 7 %>>七年级（初中一年级）</option>
                      <option value="8" <%= 'selected="selected"' if @user_info.grade.to_i == 8 %>>八年级（初中二年级）</option>
                      <option value="9" <%= 'selected="selected"' if @user_info.grade.to_i == 9 %>>九年级（初中三年级）</option>
                      <option value="10" <%= 'selected="selected"' if @user_info.grade.to_i == 10 %>>高中一年级</option>
                      <option value="11" <%= 'selected="selected"' if @user_info.grade.to_i == 11 %>>高中二年级</option>
                      <option value="12" <%= 'selected="selected"' if @user_info.grade.to_i == 12 %>>高中三年级</option>
                    </select>
                  </div>
                  <div class="button-row">
                    <button class="btn-robodou apply-lesson">确认报名</button>
                  </div>
                </form>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="school-modal">
  <div class="school-modal-inner">
    <div class="title">
      选择学校
    </div>
    <div class="content">
      <div class="screening">
        <label for="selected-dis">区县</label>
        <select name="district" id="selected-dis" disabled>
          <option>请选择区县</option>
          <% District.all.each do |d| %>
              <option value="<%= d.id %>"><%= d.name %></option>
          <% end %>
        </select>
        <label for="school-group">类型</label>
        <select name="group" id="school-group">
          <option value="0">请选择类型</option>
          <option value="1">小学</option>
          <option value="2">初中</option>
          <option value="3">高中</option>
          <option value="4">大学</option>
        </select>
      </div>
      <div class="school-list">
      </div>
    </div>
  </div>
</div>
