<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="reset-pwd">
      <div class="sec-t">
        重置密码
      </div>
      <div class="sec-c">
        <div class="row">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
              <% if resource.errors.full_messages.to_s.include? 'Reset' %>
                  <div id="error_explanation">
                    <span style="color: darkred">该重置密码token是无效的,如需重置请重新发送修改密码邮箱链接</span>
                  </div>
              <% end %>
              <%= f.hidden_field :reset_password_token %>

              <div class="field">

                <%= f.input :password, autofocus: true, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.input :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit '重置密码', class: 'btn btn-danger btn-block' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>