<div id="main" class="main" data-src="<%= image_path('pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="passport">
        <div class="title">
          忘记密码
        </div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
            <div class="passport-box">
              <div class="passport-sub-box">
                <i class="glyphicon glyphicon-envelope"></i>
                <input class="input-robodou" id="forget-email" type="email" name="user[email]"
                       placeholder="请输入验证邮箱" value="<%= resource.email %>">
              </div>
              <div class="passport-sub-box rucaptcha-special">
                <i class="glyphicon glyphicon-check"></i>
                <%= rucaptcha_input_tag(class: 'rucaptcha-input-sepcial input-robodou', placeholder: '请输入校验码') %>
                <% if request.post? && resource.status==1000 %>
                    <span class="error-notice hide">验证码不正确</span>
                <% end %>
                <span class="refresh-captcha">
                  <%= rucaptcha_image_tag(alt: '校验码', id: 'rucaptcha-image-style') %>
                </span>
              </div>
            </div>
            <div class="other-link">
              <a class="forget-mobile" href="<%= reset_password_accounts_path %>">手机找回</a>
            </div>

            <button class="btn-robodou btn-forget-submit" type="submit">发送重置密码邮件</button>
        <% end %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>




