<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.jpg') %>">
  <div class="container">
    <div class="row">
      <div id="volunteer" class="volunteer">
        <div class="v-list">
          <% @activities.each do |act| %>
              <%= link_to activity_path(act), title: '查看活动' do %>
                  <div class="v-item" data-src="<%= image_path('homepage/v-item-bk.png') %>">
                    <div class="v-title"><%= act.name %></div>
                    <div class="v-circle">活动报名</div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <nav>
        <%= paginate @activities %>
      </nav>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>



