<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="volunteer" class="volunteer">
        <div class="volunteer-inner">
          <div class="sec-t" data-src="<%= image_path('homepage/v-title-bk.png') %>">
            <span class="tags">活动丨报名</span>
            <%= @activity.name %>
            <span class="time"><%= @activity.created_at.try(:strftime, '%Y-%m-%d') %></span>
          </div>
          <div class="sec-c">
            <div class="sec-top" data-src="<%= image_path('homepage/sec-top.png') %>"></div>
            <div class="sec-middle">
              <div class="img">
                <img src="" alt="" data-src="<%= image_path('homepage/news-image01.png') %>"/>
              </div>
              <div class="text">
                <h3>活动介绍</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                  laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                  sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                  felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit
                  amet, cons dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                  pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes,
                  nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
                  mollis orci, sed rhoncus sapien nunc eget odio.
                </p>

                <h3>主办方</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet.
                   Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>

                <div class="volunteer-bottom">
                  <button data-toggle="modal" data-target="#join-activity" class="btn-robodou btn-show-form">报名参加</button>
                </div>
              </div>
            </div>
            <div class="sec-bottom" data-src="<%= image_path('homepage/sec-bottom.png') %>"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>

<div id="join-activity" class="modal fade">
  <div class="join-activity">
    <div class="activity-t" data-src="<%= image_path('homepage/info-t-bk.png') %>">
      报名活动
    </div>
    <div class="activity-c">
      <form id="activity-form" action="">
        <input type="hidden" name="act_id" value="<%= @activity.id %>"/>
        <div class="item-row">
          <div class="item-first">
            <i class="glyphicon glyphicon-pencil"></i>
            姓名
          </div>
          <div class="item-second">
            <input type="text" name="username" class="" value=""/>
          </div>
        </div>
        <div class="item-row">
          <div class="item-first">
            <i class="glyphicon glyphicon-certificate"></i>
            年龄
          </div>
          <div class="item-second">
            <input type="text" name="age" class="" value=""/>
          </div>
        </div>
        <div class="item-row">
          <div class="item-first">
            <i class="glyphicon glyphicon-education"></i>
            学校
          </div>
          <div class="item-second">
            <input type="text" name="school" value=""/>
          </div>
        </div>
        <div class="item-row">
          <div class="item-first">
            <i class="glyphicon glyphicon-bookmark"></i>
            年级
          </div>
          <div class="item-second">
            <select class="" name="grade" id="">
              <option value="一">一</option>
              <option value="二">二</option>
              <option value="三">三</option>
              <option value="四">四</option>
              <option value="五">五</option>
              <option value="六">六</option>
              <option value="七">七</option>
              <option value="八">八</option>
              <option value="九">九</option>
              <option value="高一">高一</option>
              <option value="高二">高二</option>
              <option value="高三">高三</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="activity-f">
      <button class="btn-robodou btn-join-activity">报名活动</button>
    </div>
  </div>
</div>
