<h1 class="page-header">
  <%= @competition.name %>--<%= t('activerecord.models.demeanor') %>列表 (视频)
  <small class="pull-right">
    <a href="<%= "#{admin_photos_path}?cod=#{@competition.id}" %>" class="btn btn-default" title="图片列表">
      图片列表</a>
    <a href="<%= "#{new_admin_video_path}?cod=#{@competition.id}" %>" class="btn btn-default" title="添加<%= t('activerecord.models.demeanor') %>">
      <i class="icon-only icon-plus"></i></a>
  </small>
</h1>

<div id="paintings" class="row">
  <% @videos.each do |video| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb ">
        <video src="<%= video.video_url %>" controls="controls" width="300px" height="220px">
          您的浏览器不支持 video 标签。
        </video>
        <div class="actions">
          <%= link_to edit_admin_video_path(video), title: '编辑', class: 'btn btn-xs btn-info' do %>
              <i class="icon-edit bigger-120"></i>
          <% end %>
          <%= link_to "#{admin_video_path(video)}?cod=#{video.competition_id}", method: :delete, data: {confirm: '确认删除吗?'}, title: '删除', class: 'btn btn-xs btn-danger' do %>
              <i class="icon-trash bigger-120"></i>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<nav>
  <%= paginate @videos %>
</nav>
<div class="clearfix"></div>

<%= simple_form_for([:admin, Video.new], html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.label :video, "Upload videos:" %><br><br>
      <%= f.input :status %>
      <%= f.hidden_field :competition_id, value: params[:cod].present? ? params[:cod] : @video.competition_id %>
      <%= f.file_field :video, multiple: true, name: "video[video]" %>
    </div>

    <!--<div class="form-actions">-->
      <!--<%= f.button :submit, class: 'btn btn-primary' %>-->
    <!--</div>-->
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>




</script>

