<h1 class="page-header">
  <%= @model_type.name %>--<%= t('activerecord.models.demeanor') %>列表 (视频)
  <small class="pull-right">
    <a href="<%= "#{admin_photos_path}?type_id=#{@model_type.id}&type=#{params[:type]}" %>" class="btn btn-default" title="图片列表">
      图片列表</a>
  </small>
</h1>

<div id="paintings" class="row">
  <% @videos.each do |video| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb ">
        <video src="<%= video.video_url %>" controls="controls" width="300px" height="220px">
          您的浏览器不支持 video 标签。
        </video>
        <div class="actions">
          <%= link_to "#{admin_video_path(video)}/edit", title: '编辑', class: 'btn btn-xs btn-info' do %>
              <i class="icon-edit bigger-120"></i>
          <% end %>
          <%= link_to "#{admin_video_path(video)}", method: :delete, data: {confirm: '确认删除吗?'}, title: '删除', class: 'btn btn-xs btn-danger' do %>
              <i class="icon-trash bigger-120"></i>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<nav>
  <%= paginate @videos %>
</nav>
<div class="clearfix"></div>

<%= simple_form_for([:admin, Video.new], html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :status %>
      <%= f.hidden_field :video_type, value: params[:type].present? ? params[:type] : @video.video_type %>
      <%= f.hidden_field :type_id, value: params[:type_id].present? ? params[:type_id] : @video.type_id %>
      <%= f.file_field :video, multiple: true, name: "video[video]" %>
    </div>

    <!--<div class="form-actions">-->
    <!--<%= f.button :submit, class: 'btn btn-primary' %>-->
    <!--</div>-->
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>







</script>

