<%= simple_form_for([:admin, @competition]) do |f| %>
    <%= f.error_notification %>
    <% if @competition.errors.any? %>
        <div id="error_explanation">
          <% if @competition.errors[:cover].present? %>
              <div class="alert alert-danger">封面:<%= @competition.errors[:cover].first %></div>
          <% end %>
          <% @competition.errors[:apply_end_time].each do |msg| %>
              <div class="alert alert-danger"><%= msg %></div>
          <% end %>
          <% @competition.errors[:start_time].each do |msg| %>
              <div class="alert alert-danger"><%= msg %></div>
          <% end %>
          <% @competition.errors[:end_time].each do |msg| %>
              <div class="alert alert-danger"><%= msg %></div>
          <% end %>
          <% @competition.errors[:time_schedule].each do |msg| %>
              <div class="alert alert-danger">时间安排:<%= msg %></div>
          <% end %>
          <% @competition.errors[:detail_rule].each do |msg| %>
              <div class="alert alert-danger">详细规则:<%= msg %></div>
          <% end %>
        </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :name, maxlength: 60 %>
      <%= f.input :host_year, collection: 2016..2017, prompt: '请选择举办年份' %>
      <%= f.input :district_id, collection: District.sh_districts, cache: true %>
      <%= f.input :aim %>
      <%= f.input :organizing_committee, placeholder: '例如: 上海市委;豆姆科技  (多个以分号隔开)' %>
      <%= f.input :date_schedule, placeholder: '例如: xxx:xxx;xxx:xxx  (多个以分号隔开)' %>
      <%= f.input :apply_require %>
      <%= f.input :apply_method %>
      <%= f.input :reward_method %>
      <%= f.input :emc_contact,placeholder:'例如:张三:15366666666; 王五:15388888888 (多个以分号隔开)' %>
      <% if @competition.cover.present? %>
          <div class="form-group">
            <%= image_tag(@competition.cover_url(:middle), class: 'img-thumbnail') %>
          </div>
      <% end %>
      <div class="form-group">
        <label class="text required control-label" for="competitions_cover">
          <abbr title="必填字段">*</abbr>
          封面
        </label>
        <%= f.file_field :cover, value: @competition.cover %>
        <p class="help-block">格式：jpg jpeg gif png, 大小: 1M以内</p>
      </div>
      <%= f.input :description %>

      <%= f.input :status, collection: Competition::STATUS, prompt: 1 %>
      <!-- start -->
      <div class="row">
        <div class="form-group datetime optional col-md-6 required" data-date-merge>
          <label class="datetime optional control-label">报名开始时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.apply_start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.apply_start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[apply_start_time]" value="<%= @competition.apply_start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>
        <div class="form-group datetime optional col-md-6" data-date-merge>
          <label class="datetime optional control-label">报名结束时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.apply_end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.apply_end_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[apply_end_time]" value="<%= @competition.apply_end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>

        <div class="form-group datetime optional col-md-6 required" data-date-merge>
          <label class="datetime optional control-label">学校审核结束时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.school_audit_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.school_audit_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[school_audit_time]" value="<%= @competition.school_audit_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>
        <div class="form-group datetime optional col-md-6" data-date-merge>
          <label class="datetime optional control-label">区县审核结束时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.district_audit_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.district_audit_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[district_audit_time]" value="<%= @competition.district_audit_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>


        <div class="form-group datetime optional col-md-6" data-date-merge>
          <label class="datetime optional control-label">比赛开始时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.start_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.start_time.try(:strftime, '%H:%M') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[start_time]" value="<%= @competition.start_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>
        <div class="form-group datetime optional col-md-6" data-date-merge>
          <label class="datetime optional control-label">比赛结束时间</label>

          <div class="row">
            <div class="col-md-6">
              <span>日期</span>
              <input data-date-merge-date value="<%= @competition.end_time.try(:strftime, '%Y-%m-%d') %>" data-control="dateForm" class="datetime optional form-control" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-6 bootstrap-timepicker">
              <span>时间</span>
              <input data-date-merge-time value="<%= @competition.end_time.try(:strftime, '%H:%M:%S') %>" data-control="timeForm" class="datetime optional form-control"/>
            </div>
          </div>
          <input data-date-merge-result type="hidden" name="competition[end_time]" value="<%= @competition.end_time.try(:strftime, '%Y-%m-%d %H:%M') %>"/>
        </div>
      </div>
      <!-- end -->


      <% if @competition.time_schedule.present? %>
          <a href="<%= @competition.time_schedule %>" target="_blank">查看时间安排</a>
      <% end %>

      <div class="form-group">
        <label for="exampleInputFile">时间安排</label>
        <%= f.file_field :time_schedule, id: 'check-time-schedule' %>
        <p class="help-block">格式: pdf zip rar; 大小: 小于10M</p>
      </div>
      <% if @competition.detail_rule.present? %>
          <a href="<%= @competition.detail_rule %>" target="_blank">查看详细规则</a>
      <% end %>
      <div class="form-group">
        <label for="exampleInputFile">详细规则</label>
        <%= f.file_field :detail_rule, id: 'check-detail-rule' %>
        <p class="help-block">格式: pdf zip rar; 大小: 小于10M</p>
      </div>

    </div>
    <div class="form-actions">
      <button data-control="formFormat" type="submit" class="btn btn-primary">
        <i class="icon-ok"></i>
        提交
      </button>
      <a href="<%= admin_competitions_path %>" class="btn btn-default">
        <i class="icon-remove"></i>
        取消
      </a>
    </div>
<% end %>