<h1 class="page-header">
  <%= @competition.name %> -- 裁判分配
  <small class="pull-right">
    <a href="<%= "/admin/competitions/events/#{params[:id]}" %>" class="btn btn-default" title="项目对应裁判">
      项目对应裁判</a>
  </small>
</h1>

<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>裁判</th>
    <th>负责项目</th>
  </tr>
  </thead>

  <tbody>
  <% @worker_events.each do |e| %>
      <tr>
        <td><%= e.username %> <span class="badge <%= "hide" if e.count==0 %>">  <%= e.count %></span></td>
        <td>
          <%= e.events %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
