<h1 class="page-header">
  <% if @event_schedules.present? %>
      <%= @event_schedule.first.event.name %> -- 赛程
  <% else %>
      <%= @event_schedule.event.name %> -- 赛程
  <% end %>
</h1>
<% if @event_schedules.present? %>
    <div style="width: 570px">
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>组别</th>
          <th>赛程名称</th>
          <th>对抗／评分</th>
          <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <% @event_schedules.each do |cs| %>
            <tr>
              <td>
                <% case cs.group %>
                <% when 1 then %>
                    <label class="label label-default">小学</label>
                <% when 2 then %>
                    <label class="label label-danger">中学</label>
                <% when 3 then %>
                    <label class="label label-info">初中</label>
                <% else %>
                    <label class="label label-warning">高中</label>
                <% end %>
              </td>
              <td><%= cs.schedule.name %></td>
              <td>
                <label class="label <%= cs.kind==1 ? 'label-info' : 'label-danger' %>"><%= cs.kind==1 ? '评分' : '对抗' %></label>
              </td>
              <td>
                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                  <a class="green" href="<%= "#edit-schedule#{cs.id}" %>" role="button" data-toggle="modal">
                    <i class="icon-pencil bigger-130"></i>
                  </a>
                  <%= link_to "/admin/event_schedules/#{cs.id}", method: :delete, data: {confirm: '确认删除吗?'}, class: 'red' do %>
                      <i class="icon-trash bigger-130"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <div id="<%= "edit-schedule#{cs.id}" %>" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger text-center">编辑<%= cs.schedule.name %></h4>
                  </div>

                  <div class="modal-body overflow-visible">
                    <div class="row">
                      <div class="col-xs-12">

                        <div class="form-group">
                          <div class="text-center">
                            <label>评分</label><input type="radio" name="schedule-kind" value="1"/>
                            <label>对抗</label><input type="radio" name="schedule-kind" value="2"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                      <i class="icon-remove"></i>
                      取消
                    </button>

                    <button class="btn btn-sm btn-primary edit-event-schedule-submit" data-id="<%= cs.id %>">
                      <i class="icon-ok"></i>
                      更新
                    </button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        </tbody>
      </table>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= simple_form_for([:admin, @one_cs]) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :schedule_id, collection: Schedule.all, label: '赛程名' %>
              <div class="form-group select optional event_schedule_group">
                <label class="select optional control-label" for="event_schedule_group">
                  <abbr title="必填字段">*</abbr> 组别</label>&nbsp;&nbsp;
                <% @event_group.split(',').each do |c| %>
                    <% if c.to_i == 1 %>
                        <label><input name="event_schedule[group]" type="radio" value="1"/> 小学</label>
                    <% elsif c.to_i == 2 %>
                        <label><input name="event_schedule[group]" type="radio" value="2"/> 中学</label>
                    <% elsif c.to_i == 3 %>
                        <label><input name="event_schedule[group]" type="radio" value="3"/> 初中</label>
                    <% elsif c.to_i == 4 %>
                        <label><input name="event_schedule[group]" type="radio" value="4"/> 高中</label>
                    <% end %>
                <% end %>

              </div>
              <%= f.hidden_field :event_id, value: params[:id] %>
              <label class="select required control-label" for="event_schedule_kind">
                <abbr title="必填字段">*</abbr>
                模式
              </label>&nbsp;&nbsp;
              <label><input name="event_schedule[kind]" type="radio" value="1"/> 评分</label>
              <label><input name="event_schedule[kind]" type="radio" value="2"/> 对抗</label>
            </div>
            <div class="form-actions">
              <button data-control="formFormat" type="submit" class="btn btn-primary">
                <i class="icon-ok"></i>
                新建进程
              </button>
            </div>
        <% end %>
      </div>
    </div>

<% else %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= simple_form_for([:admin, @event_schedule]) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :schedule_id, collection: Schedule.all, label: '赛程名' %>
              <%= f.hidden_field :event_id, value: params[:id] %>

              <div class="form-group select optional event_schedule_group">
                <label class="select optional control-label" for="event_schedule_group">
                  <abbr title="必填字段">*</abbr> 组别</label>&nbsp;&nbsp;
                <% @event_group.split(',').each do |c| %>
                    <% if c.to_i == 1 %>
                        <label><input name="event_schedule[group]" type="radio" value="1"/> 小学</label>
                    <% elsif c.to_i == 2 %>
                        <label><input name="event_schedule[group]" type="radio" value="2"/> 中学</label>
                    <% elsif c.to_i == 3 %>
                        <label><input name="event_schedule[group]" type="radio" value="3"/> 初中</label>
                    <% elsif c.to_i == 4 %>
                        <label><input name="event_schedule[group]" type="radio" value="4"/> 高中</label>
                    <% end %>
                <% end %>

              </div>
              <label class="select required control-label" for="event_schedule_kind">
                <abbr title="必填字段">*</abbr>
                模式
              </label>&nbsp;&nbsp;
              <label><input name="event_schedule[kind]" type="radio" value="1"/> 评分</label>
              <label><input name="event_schedule[kind]" type="radio" value="2"/> 对抗</label>

            </div>
            <div class="form-actions">
              <button data-control="formFormat" type="submit" class="btn btn-primary">
                <i class="icon-ok"></i>
                提交
              </button>
            </div>
        <% end %>
      </div>
    </div>
<% end %>


