<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= asset_path('icon.png') %>"/>
  <%= javascript_include_tag 'jquery_cookie', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

</head>

<body>
<div id="top" data-src="<%= image_path('top.png') %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo pull-left">
          <select id="select-area" style="margin-top: 15px">
            <option>上海</option>
            <option value="1" <%= 'selected' if cookies[:area] %>>宝山</option>
          </select>
          <a href="/">
            <% if cookies[:area]=='1' %>
                宝山少科站
            <% else %>
                <img src="<%= image_path('logo.png') %>" alt=""/>
            <% end %>
          </a>
        </div>
        <div class="user-info pull-right">
          <% if current_user %>
              <div class="login-info">
                <div class="dropdown">
                  <button class="btn-robodou" data-toggle="dropdown">
                    <%= current_user.nickname %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-robodou">
                    <li><a href="<%= user_preview_path %>">个人中心</a></li>
                    <li><a href="<%= user_notification_path %>">我的消息</a></li>
                    <li><%= link_to '退出登录', destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'} %></li>
                  </ul>
                </div>
              </div>
          <% else %>
              <div class="un-login">
                <%= link_to '登录', new_user_session_path, class: 'btn-robodou btn-login-link' %>
                <%= link_to '注册', new_user_registration_path, class: 'btn-robodou btn-register-link' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="nav" class="navbar">
  <div class="container">
    <div class="row">
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="<%= courses_index_path %>">课程</a></li>
          <li><a class="un-do" href="">比赛</a></li>
          <li><a class="un-do" href="">荣誉榜</a></li>
          <li><a class="un-do" href="">活动</a></li>
          <li><a class="un-do" href="">风采</a></li>
          <li><a class="un-do" href="">下载</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="bs-pg" data-bk="<%= image_path('bs-pagebk.png') %>"></div>

<div id="flash" class="modal fade">
  <div class="notify-b">
    <div class="title">
      通知
      <i data-dismiss="modal" class="close-flash glyphicon glyphicon-remove-circle"></i>
    </div>
    <div class="content">
    </div>
  </div>
</div>


<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript">
    function alert_r(msg) {
        $('#flash').find('.content').text(msg);
        $('#flash').modal('show');
    }
    <% if flash.present? %>
    alert_r(<% flash.each do |f| %>
            "<%= f[1] %>"
            <% end %>);
    <% end %>
</script>


<% if current_user %>
    <script type="text/javascript" charset="utf-8">

        $(function () {
            function notify(title, content) {
                if (!title && !content) {
                    title = "桌面提醒";
                    content = "您看到此条信息桌面提醒设置成功";
                }
                var iconUrl = "/assets/icon.png";
                if (window.webkitNotifications) {
                    //chrome老版本
                    if (window.webkitNotifications.checkPermission() == 0) {
                        var notif = window.webkitNotifications.createNotification(iconUrl, title, content);
                        notif.display = function () {
                        };
                        notif.onerror = function () {
                        };
                        notif.onclose = function () {
                        };
                        notif.onclick = function () {
                            this.cancel();
                        };
                        notif.replaceId = 'Meteoric';
                        notif.show();
                    } else {
                        window.webkitNotifications.requestPermission($jy.notify);
                    }
                }
                else if ("Notification" in window) {
                    // 判断是否有权限
                    if (Notification.permission === "granted") {
                        var notification = new Notification(title, {
                            "icon": iconUrl,
                            "body": content
                        });
                    }
                    //如果没权限，则请求权限
                    else if (Notification.permission !== 'denied') {
                        Notification.requestPermission(function (permission) {
                            // Whatever the user answers, we make sure we store the
                            // information
                            if (!('permission' in Notification)) {
                                Notification.permission = permission;
                            }
                            //如果接受请求
                            if (permission === "granted") {
                                var notification = new Notification(title, {
                                    "icon": iconUrl,
                                    "body": content
                                });
                            }
                        });
                    }
                }
            }

            MessageBus.start(); // call once at startup
            MessageBus.callbackInterval = 500;
            channel = '/channel';
            window.roomid = "<%= current_user.private_token %>";
            if (window.roomid) {
                channel = channel + '/' + window.roomid;
            }
            MessageBus.subscribe(channel, function (data) {
                console.log(data.count);
                $('.badge-notify-count').text(data.count);
                notify(data.content);
//          $('#content').val('');
            });
        })
    </script>
<% end %>

</body>
</html>