<!DOCTYPE html>
<html>
<head>
  <title>Dome</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>

<% if user_signed_in? %>
    <%= current_user.nickname %>
    <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', class: '' do %>
        退出登录
    <% end %>

<% else %>
    <%= link_to '注册', new_user_registration_path %>
    <%= link_to '登录', new_user_session_path %>
<% end %>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        $.notify("<%= f[1] %>", "<%= f[0] %>");
        <% end %>
    </script>
<% end %>
</body>
</html>
