<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="<%= asset_path('icon.png') %>"/>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
</head>

<body>

<div id="top" data-src="<%= image_path('homepage/top-bk.png') %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo pull-left">
          <a href="/">
            <img data-src="<%= image_path('homepage/logo.png') %>" src="" alt=""/>
          </a>
        </div>
        <div class="user-info pull-right">
          <% if user_signed_in? %>
              <div class="login-info">
                <div><%= current_user.nickname %></div>
                <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', class: '' do %>
                    退出登录
                <% end %>
                <a href="<%= user_notification_path %>" class="navbar-brand badge-cart">
                  <i class="glyphicon glyphicon-bell"></i>
                  <% if current_user.notifications.unread.count > 0 %>
                      <span class="badge badge-notify-count"><%= current_user.notifications.unread.count %></span>
                  <% end %>
                </a>
              </div>
          <% else %>
              <div class="un-login">
                <button class="btn-robodou btn-robodou-login"
                        data-src="<%= image_path('homepage/btn-login-bk.png') %>" data-toggle="modal"
                        data-target="#login-modal">登录我的robodou
                </button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="nav" class="navbar">
  <div class="container">
    <div class="row">
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="#">新闻</a></li>
          <li><a href="#">比赛</a></li>
          <li><a href="#">荣誉榜</a></li>
          <li><a href="#">活动</a></li>
          <li><a href="#">选手风采</a></li>
          <li><a href="#">我在现场</a></li>
          <li><a href="#">志愿者</a></li>
          <li><a href="#">下载</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>




<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<% if flash.present? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        if ("<%= f[1] %>" != 'true') {
            $.notify("<%= f[1] %>", "<%= f[0] %>");
        }
        <% end %>
    </script>
<% end %>
<% if current_user %>
    <script type="text/javascript" charset="utf-8">

        $(function () {
            function notify(title, content) {
                if (!title && !content) {
                    title = "桌面提醒";
                    content = "您看到此条信息桌面提醒设置成功";
                }
                var iconUrl = "/assets/icon.png";
                if (window.webkitNotifications) {
                    //chrome老版本
                    if (window.webkitNotifications.checkPermission() == 0) {
                        var notif = window.webkitNotifications.createNotification(iconUrl, title, content);
                        notif.display = function () {
                        };
                        notif.onerror = function () {
                        };
                        notif.onclose = function () {
                        };
                        notif.onclick = function () {
                            this.cancel();
                        };
                        notif.replaceId = 'Meteoric';
                        notif.show();
                    } else {
                        window.webkitNotifications.requestPermission($jy.notify);
                    }
                }
                else if ("Notification" in window) {
                    // 判断是否有权限
                    if (Notification.permission === "granted") {
                        var notification = new Notification(title, {
                            "icon": iconUrl,
                            "body": content
                        });
                    }
                    //如果没权限，则请求权限
                    else if (Notification.permission !== 'denied') {
                        Notification.requestPermission(function (permission) {
                            // Whatever the user answers, we make sure we store the
                            // information
                            if (!('permission' in Notification)) {
                                Notification.permission = permission;
                            }
                            //如果接受请求
                            if (permission === "granted") {
                                var notification = new Notification(title, {
                                    "icon": iconUrl,
                                    "body": content
                                });
                            }
                        });
                    }
                }
            }

            window.roomid = $('.current-user-room').val();
            MessageBus.start(); // call once at startup

            MessageBus.callbackInterval = 500;
            channel = '/channel';
            if (window.roomid) {
                channel = channel + '/' + window.roomid;
            }
            MessageBus.subscribe(channel, function (data) {
                $('.badge-notify-count').text(data.count);
                notify(data.content);
                $('#content').val('');
            });


        })
    </script>
<% end %>
</body>
</html>
