<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.jpg') %>">
  <div class="container">
    <div class="reset-pwd-mobile">
      <div class="sec-t">
        重置密码
      </div>
      <div class="mobile-type sec-c">
        <div class="row ">

          <%= simple_form_for(@reset_password, url: reset_password_post_accounts_path, html: {method: :post}) do |f| %>
              <%= f.input :mobile, placeholder: '请输入手机' %>
              <div class="form-group string">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-7">
                        <%= rucaptcha_input_tag(class: 'form-control ru_captcha', placeholder: '请输入验证码') %>
                      </div>

                      <div class="col-xs-5">
                        <p id="captcha-plus" class="pull-left">
                          <a class="refresh-captcha" href="#">
                            <%= rucaptcha_image_tag(alt: 'rucaptcha') %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" data-key="reset_password" data-type="RESET_PASSWORD" id="btn_send_mobile_code" class="btn btn-xs btn-info">获取验证码</button>
              <br><br>

              <div>
                <%= f.input :mobile_code, label: '手机验证码', as: :tel, placeholder: '输入手机验证码' %>

              </div>

              <%= f.input :password, placeholder: '请设置您的新密码  6-30位', wrapper_html: {class: ''} %>
              <%= f.input :password_confirmation, placeholder: '请再次输入新密码', wrapper_html: {class: ''} %>
              <div class="actions form-group form-group-lg">
                <%= f.submit class: 'btn btn-danger btn-block', value: '重置密码', 'data-disable-with' => '重置密码' %>
              </div>
          <% end %>

          <p class="clearfix text-right">
            <a href="<%= new_user_registration_path %>">没有账号? 注册</a>
            <br>
            <a href="<%= new_user_session_path %>"> 想起密码? 登录</a>
          </p>
        </div>
      </div>
      <div style="cursor: pointer">
        <a class="exchange-email" href="<%= '/account/password/new' %>">使用邮箱找回</a>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>