<div class="container">
  <h1 class="page-header">
    忘记密码
  </h1>
  <div class="mobile-type">
    <div class="row">
      <h4>&nbsp;&nbsp;&nbsp;如果您之前没有认证过手机，则不能通过手机找回密码</h4>

      <div class="col-md-4">
        <%= simple_form_for(@reset_password, url: user_valid_mobile_post_path, html: {method: :post}) do |f| %>

            <div class="<%= "form-group string #{request.post? && !verify_rucaptcha?(resource) ? 'has-error' : ''}" %>">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-7">
                      <%= rucaptcha_input_tag(class: 'form-control ru_captcha', placeholder: '请输入验证码') %>
                      <% if request.post? && !verify_rucaptcha?(resource) %>
                          <span class="help-block">验证码不正确</span>
                      <% end %>
                    </div>
                    <div class="col-xs-5">
                      <p id="captcha-plus" class="pull-left">
                        <a class="refresh-captcha" href="#">
                          <%= rucaptcha_image_tag(alt: 'rucaptcha') %>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%= f.input :mobile, placeholder: '请输入手机' %>
            <div>
              <%= f.input :mobile_code, label: '手机验证码', as: :tel, placeholder: '输入手机验证码' %>
              <button type="button" data-key="reset_password" data-type="RESET_PASSWORD" id="btn_send_mobile_code" class="btn-get-code">获取验证码</button>
            </div>
            <%= f.input :password, placeholder: '请设置您的新密码  6-20位', wrapper_html: {class: ''} %>

            <div class="actions form-group form-group-lg">
              <%= f.submit class: 'btn btn-danger btn-block', value: '下一步', 'data-disable-with' => '下一步' %>
            </div>
        <% end %>

        <p class="clearfix text-right">
          <a href="<%= new_user_registration_path %>">没有账号? 注册</a>
          <br>
          <a href="<%= new_user_session_path %>"> 想起密码? 登录</a>
        </p>
      </div>
    </div>
    <div style="cursor: pointer">
      <a class="exchange-email" href="<%= '/account/password/new' %>">使用邮箱找回</a>
    </div>
  </div>
</div>