


<div class="container">
  <h1 class="page-header">
    用户注册
  </h1>

  <div class="row">
    <div class="col-md-4">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= f.input :nickname, placeholder: '请输入昵称' %>
          <%= f.input :password, placeholder: '请设置您的密码' %>
          <%= f.input :password_confirmation, placeholder: '请设置您的密码' %>

          <div class="<%= "form-group string #{request.post? && !verify_rucaptcha?(resource) ? 'has-error' : ''}" %>">
            <label class="string  control-label">
              验证码
            </label>
            <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
            <% if request.post? && !verify_rucaptcha?(resource) %>
                <span class="help-block">验证码不正确</span>
            <% end %>
          </div>

          <div class="form-group">
            <a class="refresh-captcha" href="#">
              <%= rucaptcha_image_tag(alt: 'rucaptcha') %>
            </a>
          </div>

          <div class="actions form-group form-group-lg">
            <%= f.submit '立即注册', class: 'btn btn-success btn-block', 'data-disable-with' => '正在注册' %>
          </div>
      <% end %>

      <p class="clearfix text-right">
        <a href="<%= new_user_session_path %>">已有账户? 登录</a>
      </p>
    </div>
  </div>
</div>


<div id="main" class="main" data-src="<%= image_path('homepage/register-pagebk.png') %>">
  <div class="container">
    <div class="row">
      <div id="register">
        <div class="register-inner" data-src="<%= image_path('homepage/register-bk.png') %>">
          <div class="sec-t">
            注册我的robodou
          </div>
          <div class="sec-c">
            <form action="<%= registration_path(resource_name) %> " novalidate="novalidate" class="simple_form new_user" id="new_user" method="post">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="authenticity_token" value="">

              <label class="input-row">
                用户名
                <input type="text" name="user[nickname]" value=""/>
              </label>
              <label class="input-row">
                密码
                <input type="password" name="user[password]" value=""/>
              </label>
              <label class="input-row">
                确认密码
                <input type="password" name="user[password_confirmation]" value=""/>
              </label>
              <label class="input-row">
                验证码
                <a class="refresh-captcha" href="#">
                  <%= rucaptcha_image_tag(title: '点击刷新验证码') %>
                </a>
                <input class="rucaptcha" name="_rucaptcha" type="text" autocorrect="off" autocapitalize="off" pattern="[0-9a-z]*" maxlength="4" autocomplete="off" />
                <% if request.post? && !verify_rucaptcha?(resource) %>
                    <span class="tips">验证码不正确</span>
                <% end %>
              </label>
              <label class="input-row text-center">
                <button class="btn-robodou btn-robodou-register" data-src="<%= image_path('homepage/btn-register-bk.png') %>">
                  注册
                </button>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="footer">
        <a>关于我们</a>
        <span class="separator"></span>
        <a>联系我们</a>
      </div>
    </div>
  </div>
</div>




